<div class="commentLoop">
  <% comments.each do |comment| %>
  <div class="commentChild ">
    <div class="commentLeft "><img src="" alt="" width="100%" height="100%"></div>
    <div class="commentRight ">
      <div class="commentHeader">
        <p class="commentUsername"><%= comment.user.name %></p>
        <div class="">

                <span class="evaluationStar">
                  <% if comment.reputation == 0 %>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                  <% elsif comment.reputation <= 1 %>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                  <% elsif comment.reputation <= 2 %>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                  <% elsif comment.reputation <= 3 %>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-gray"></i>
                    <i class="fas fa-star my-gray"></i>
                  <% elsif comment.reputation <= 4 %>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-gray"></i>
                  <% else %>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                    <i class="fas fa-star my-yellow"></i>
                  <% end %>
                </span><span><%= comment.reputation %></span>
        </div>
      </div>
      <p class="commentSentence"><%= comment.comment %></p>
      <a href="#" class="commentMore">さらに読む</a>
    </div>
  </div>
  <% end %>
</div>