<% images.each do |image| %>
  <div class="coupon_input">
    <div class="input_img img_input">
      <%= image_tag image.image.to_s, size: "100x100" %>
    </div>
    <div class="coupon_text">
      <h3 class="coupon_p">品名</h3>
      <%= image.name %>
      <h3 class="coupon_p">価格</h3>
      <%= image.price %>
      <h3 class="coupon_p">説明</h3>
      <%= image.content %>
<% end %>

</div>
</div>

