<!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%#= devise_error_messages! %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

  <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<!--    <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>-->
  <%# end %>

<!--  <div class="field">-->
<!--    <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />-->
    <%#= f.password_field :password, autocomplete: "off" %>
    <%# if @minimum_password_length %>
<!--      <br />-->
<!--      <em><%#= @minimum_password_length %> characters minimum</em>-->
    <%# end %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />-->
    <%#= f.password_field :current_password, autocomplete: "off" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Update" %>
<!--  </div>-->
<%# end %>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<%#= link_to "Back", :back %>


<div class="sdd_container">
  <main class="main">
    <%= link_to "ログアウト", destroy_restaurant_session_path, method: :delete ,class:"sdd_logout"%>
    <section class="sdd_section" id="store_info">
      <h2 class="secTitle borderB">店舗情報</h2>
      <ul class="sdd_list">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <li class="sdd_list_item"><p class="listName">店舗名</p><p class="listContent"><%= f.text_field :restaurant_name ,class:"listContentInput" %></p></li>
        <li class="sdd_list_item"><p class="listName">電話番号</p><p class="listContent"><%= f.text_field :phone ,class:"listContentInput"%></p></li>
        <li class="sdd_list_item"><p class="listName">郵便番号</p><p class="listContent"><%= f.text_field :postal ,class:"listContentInput"%></p></li>
        <li class="sdd_list_item"><p class="listName">住所</p><p class="listContent"><%= f.text_field :address ,class:"listContentInput"%></p></li>
        <li class="sdd_list_item"><p class="listName">席数</p><p class="listContent"><%= f.text_field :seat_num ,class:"listContentInput"%></p></li>
        <li class="sdd_list_item"><p class="listName">予算</p><p class="listContent"><%= f.text_field :budget ,class:"listContentInput"%></p></li>
          <li class="sdd_list_item"><p class="listName">ログイン用メールアドレス</p><p class="listContent"><%= f.email_field :email ,class:"listContentInput"%></p></li>
          <%= f.grouped_collection_select(:sub_category_id, Category.all, :sub_categories, :name, :id, :name) %>



          <li class="sdd_list_item"><p class="listName">店舗説明(フリー欄)</p><p class="listContent"><%= f.text_area :description ,class:"listContentInput"%></p></li>
          <br>店舗メイン画像を選択して下さい　<div class="input_img img_input">
        <%= f.file_field :image, class: "img_import", id: "drink_button" %>
        <label class="img_button" for="#drink_button">画像を追加</label>
      </div>



          <!--        <li class="sdd_list_item"><p class="listName">パスワード</p><p class="listContent"><%#= f.password_field :password %></p></li>-->
<!--        <li class="sdd_list_item"><p class="listName">パスワード確認</p><p class="listContent"><%#= f.password_field :password_confirmation %></p></li>-->
      </ul>

      <%= f.submit "更新" %>
      <% end %>
    </section>
    <section class="sdd_section" id="store_keyword" >
      <h2 class="secTitle borderB">キーワード設定</h2>
<!--      <form class="store_keyword_form" action="index.html" method="post">-->
<!--        <p>ハッシュ追加可能</p>-->
<!--        <div class="hash_input">-->
<!--          <input type="text" name="hash" value="">-->


      <div class='field'>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= f.label :keyword_list, 'キーワード・カテゴリーをカンマ区切りで入力' %><br/>

        <%= text_field_tag 'restaurant[keyword_list]', resource.keyword_list.join(',') %>

        <%= f.submit "追加" %>

        <% end %>


        <%# resource.keyword_list.each do |keyword| %>
          <%#= keyword %>
        <%# end %>
      </div>


<!--      <button type="submit" name="button">追加</button>-->
<!--        </div>-->
<!--        <div class="hash_regist">-->
<!--          <div class="hash_item">-->
<!--            <p class="hash_name">ハッシュ</p>-->
<!--            <a href="#">×</a>-->
<!--          </div>-->
<!--          <div class="hash_item">-->
<!--            <p class="hash_name">ハッシュハッシュ</p>-->
<!--            <a href="#">×</a>-->
<!--          </div>-->
<!--        </div>-->
          </section>


<!--    <section class="sdd_section" id="store_description" >-->
<!--      <h2 class="secTitle borderB">店舗説明</h2>-->
      <%#= form_for @restaurant_description, url: "#{current_restaurant.id}/description" do |f|  %>
<!--        <p>タイトル</p>-->
        <%#= f.text_field :title, class: "secTitle" %>
<!--        <p>見出し</p>-->
        <%#= f.text_field :subtitle, class: "singleIntroHeader" %>
<!--        <p>説明文</p>-->
        <%#= f.text_area :content, class: "singleIntroSentence" %>
        <%#= f.submit "更新" %>
      <%# end %>
      <%#= @restaurant_description.restaurant_id %>

<!--    </section>-->

<!--      <form class="store_img" action="index.html" method="post" enctype="multipart/form-data">-->

<!--        <h3 class="img_title">メインヴィジュアル</h3>-->
<!--        <div class="main_visial img_input">-->
<!--          <input id="main_button" class="img_import" type="file" name="" value="" accept="image/*">-->
<!--          <label class="img_button" for="#main_button">画像を追加</label>-->
<!--        </div>-->
<!--        <h3 class="img_title">料理</h3>-->
<!--        <div class="img_food_loop">-->
<!--          <div class="input_img img_input">-->
<!--            <input class="img_import" id="food_button" type="file" name="restaurant" value="" accept="image/*">-->
<!--            <label class="img_button" for="#food_button">画像を追加</label>-->
<!--          </div>-->

<!--          <div class="input_img img_input">-->
<!--            <input class="img_import" id="drink_button" type="file" name="" value="" accept="image/*">-->
<!--            <label class="img_button" for="#drink_button">画像を追加</label>-->
<!--          </div>-->
<!--          <div class="input_img">-->
<!--            <a href="#" class="img_button">画像を削除</a>-->
<!--          </div>-->
<!--          <div class="input_img">-->
<!--            <a href="#" class="img_button">画像を削除</a>-->
<!--          </div>-->
<!--          <div class="input_img">-->
<!--            <a href="#" class="img_button">画像を削除</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <h3 class="img_title">ドリンク</h3>-->
<!--        <div class="img_food_loop">-->
<!--          <div class="input_img img_input">-->
<!--            <input class="img_import" id="drink_button" type="file" name="" value="" accept="image/*">-->
<!--            <label class="img_button" for="#drink_button">画像を追加</label>-->
<!--          </div>-->
<!--          <div class="input_img">-->
<!--            <a href="#" class="img_button">画像を削除</a>-->
<!--          </div>-->
<!--          <div class="input_img">-->
<!--            <a href="#" class="img_button">画像を削除</a>-->
<!--          </div>-->
<!--          <div class="input_img">-->
<!--            <a href="#" class="img_button">画像を削除</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->

    <section class="sdd_section" id="store_img" >
    <h2 class="secTitle borderB">フードメニュー追加</h2>
    <% if @restaurant_food_images %>
      <%= render "images", images: @restaurant_food_images %>
    <% end %>

      <%= form_for :restaurant_food_image, url: restaurant_image_food_path do |f| %>
      <div class="coupon_input">
        <div class="input_img img_input">
          <%= f.file_field :image, class: "img_import", id: "drink_button" %>
          <label class="img_button" for="#drink_button">画像を追加</label>
        </div>
        <div class="coupon_text">
          <h3 class="coupon_p">品名</h3>
          <%= f.text_field :name %>
          <h3 class="coupon_p">価格</h3>
          <%= f.text_field :price %>
          <h3 class="coupon_p">商品説明</h3>
          <%= f.text_field :content %>



          <%= f.submit "商品を追加" %>
          <% end %>
        </div>
      </div>

      <h2 class="secTitle borderB">ドリンクメニュー追加</h2>
      <% if @restaurant_drink_images %>
        <%= render "images", images: @restaurant_drink_images %>
      <% end %>

      <%= form_for :restaurant_drink_image, url: restaurant_image_drink_path do |f| %>
        <div class="coupon_input">
          <div class="input_img img_input">
            <%= f.file_field :image, class: "img_import", id: "drink_button" %>
            <label class="img_button" for="#drink_button">画像を追加</label>
          </div>
          <div class="coupon_text">
            <h3 class="coupon_p">品名</h3>
            <%= f.text_field :name %>
            <h3 class="coupon_p">価格</h3>
            <%= f.text_field :price %>
            <h3 class="coupon_p">商品説明</h3>
            <%= f.text_field :content %>



            <%= f.submit "商品を追加" %>
      <% end %>
      </div>
      </div>

<!--      <h2 class="secTitle borderB">設備画像追加</h2>-->
      <%# if @restaurant_facility_images %>
        <%#= render "images", images: @restaurant_facility_images %>
      <%# end %>

      <%#= form_for :restaurant_facility_image, url: restaurant_image_facility_path do |f| %>
<!--        <div class="coupon_input">-->
<!--          <div class="input_img img_input">-->
            <%#= f.file_field :image, class: "img_import", id: "drink_button" %>
<!--            <label class="img_button" for="#drink_button">画像を追加</label>-->
<!--          </div>-->
<!--          <div class="coupon_text">-->
<!--            <h3 class="coupon_p">設備名(例：内装, 外装)</h3>-->
            <%#= f.text_field :name %>
            <%#= f.submit "画像を追加" %>
      <%# end %>
<!--      </div>-->
<!--      </div>-->


  </section>


<!--    <section class="sdd_section" id="store_coupon" >-->
      <%#= form_for @coupon do |f| %>
<!--        <h2 class="secTitle borderB">クーポン設定</h2>-->

        <%#= render 'coupons/edit_coupon_list', coupons: @coupons %>

<!--        <div class="coupon_input">-->

<!--          <div class="input_img img_input">-->
<!--            <input class="img_import" id="drink_button" type="file" name="" value="" accept="image/*">-->
<!--            <label class="img_button" for="#drink_button">画像を追加</label>-->
<!--          </div>-->

<!--          <div class="coupon_text">-->
<!--            <h3 class="coupon_p">クーポンタイトル</h3>-->
            <%#= f.text_field :name %>
<!--            <h3 class="coupon_p">クーポン内容</h3>-->
            <%#= f.text_area :content %>
<!--          </div>-->

          <%#= f.submit "追加" %>


<!--        </div>-->
      <%# end %>
<!--    </section>-->
  </main>
</div>