<!--<h2>Sign up</h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
<!--    <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
    <%#= f.password_field :password, autocomplete: "off" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Sign up" %>
<!--  </div>-->
<%# end %>

<%#= render "restaurants/shared/links" %>

<div class="sign_container">
  <div class="sign_img">
    <%= image_tag "date_logo.png", size: "180x60", alt: "" %>  </div>
  <h2>店舗登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "sign_up_form") do |f| %>
    <%= devise_error_messages! %>

    <div class="sign_content">
      <p>店舗名</p>
      <%= f.text_field :restaurant_name, class: "sign_container_input" %>
      <p>郵便番号</p>
      <%= f.text_field :postal, class: "sign_container_input" %>
      <p>住所</p>
      <%= f.text_field :address, class: "sign_container_input" %>
      <p>電話番号</p>
      <%= f.phone_field :phone, class: "sign_container_input" %>
      <p>メールアドレス</p>
      <%= f.email_field :email, class: "sign_container_input" %>
      <p>パスワード</p>
      <%= f.password_field :password, class: "sign_container_input" %>
      <p>パスワード確認</p>
      <%= f.password_field :password_confirmation, class: "sign_container_input" %>
    </div>
    <%= f.submit "登録する", class: "sign_button" %>
  <% end %>
</div>
