<!--<h2>Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "off" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? -%>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end -%>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "users/shared/links" %>


<!--<aside>-->
<!--  <div class="side">-->
<!--    <a href="/"><div class="sideImg"></div></a>-->
<!--    <ul class="sideNav">-->
<!--      <a href="#"><li>datestyleの使い方はこちら</li></a>-->
<!--      <a href="#"><li>会員登録情報</li></a>-->
<!--      <a href="#"><li>ヘルプ</li></a>-->
<!--      <a href="#"><li>サービス利用規約</li></a>-->
<!--      <a href="#"><li>個人情報保護方針</li></a>-->
<!--      <a href="#"><li>特定商法に基づく表示</li></a>-->
<!--      <a href="#"><li>著作権情報</li></a>-->
<!--      <a href="#"><li>ご意見・ご要望</li></a>-->
<!--      <a href="#"><li>著作権情報</li></a>-->
<!--    </ul>-->
<!--  </div>-->
<!--</aside>-->

<!--<p class="notice"><%#= notice %></p>-->
<!--<p class="alert"><%#= alert %></p>-->


<!--<div class="sign_container">-->
<!--  <div class="sign_img">-->
    <%#= image_tag "date_logo.png", size: "180x60" %>
<!--  </div>-->
  <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="sign_content">-->
<!--      <p>メールアドレス</p>-->
      <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--      <p>パスワード</p>-->
      <%#= f.password_field :password, autocomplete: "off" %>
<!--    </div>-->
    <%#= f.submit "ログイン", class: "sign_button" %>
  <%# end %>
<!--  <div>-->
<!--    <p><%#= link_to "新規登録はこちら", new_user_registration_path %></p>　　-->
<!--    <p><%#= link_to "パスワードを忘れた方", new_user_password_path %></p>-->
<!--  </div>-->
<!--</div>-->



<div class="login_wrap">
  <div class="login_title">
    <h1>ログイン</h1>
  </div>

  <div class="sign_content">
    <p class="login_description">
      すでにdatestyleアプリで会員登録されておりましたら、
      同じメールアドレスとパスワードでログインできます。
    </p>

<!--    <form class="" action="index.html" method="post">-->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "") do |f| %>

  <p class="email_title">メールアドレス:</p>
      <p class="email"><%= f.email_field :email, placeholder: "datestyle.jp" %></p>
      <p class="password_title">パスワード:</p>
      <p class="password"><%= f.password_field :password, placeholder: "・・・・・・・" %></p>
<!--      <button type="submit" name="button">ログイン</button>-->
      <%= button_tag "ログイン" %>
<!--    </form>-->
    <% end %>


    <div class="login_info">
      <p class="new">新規登録はこちら ></p>
      <p class="forget_password">パスワードをお忘れの方はこちら ></p>
    </div>

  </div>

</div>