<%# coupons.each do |coupon|  %>

<!--  <a id="couponId_<%#= coupon.id %>">-->

<!--  <div class="couponDetail">-->
<!--    <h4 class="coupon_name"><%#= coupon.name %></h4>-->
<!--    <p class="coupon_p"><%#= coupon.content %></p>-->
<!--  </div>-->

<!--  </a>-->

<!--  <div class="mfp-iframe-scaler mfp-hide pop_0yen" id="popCouponId_<%#= coupon.id %>">-->
<!--    <h3 class="popUpName"><%#= coupon.name %></h3>-->
<!--    <p class="popUpContent"><%#= coupon.content %></p>-->
<!--    <a class="popUpLink" href="/coupon/use/<%#= coupon.restaurant_id %>/<%#= coupon.id %>">クーポンを使用する</a>-->
<!--  </div>-->


<%# end %>

<script>

    $(document).on('turbolinks:load', function(){


        <%# coupons.each do |coupon| %>
<!--        $('a#couponId_<%#= coupon.id %>').magnificPopup({-->
<!--            items: {-->
<!--                src: '#popCouponId_<%#= coupon.id %>'-->
<!--            },-->
<!--            type: 'inline'-->
<!--        });-->
        <%# end %>


        $('a.couponButton').magnificPopup({
            items: {
                src: '#popup_0yen'
            },
            type: 'inline'
        });

        $('a#use_0yen').magnificPopup({
            items: {
                src: '#authenticate'
            },
            type: 'inline'
        });

    });

</script>