<% coupons.each do |coupon|  %>

  <div class="couponDetail">
    <h4 class="coupon_name"><%= coupon.name %></h4>
    <p class="coupon_p"><%= coupon.content %></p>

    <%= link_to "クーポンを削除", "/coupons/#{coupon.id}", method: :delete, data: {confirm: "本当に削除しますか？"}  %>
  </div>



<% end %>