<footer>
  <ul class="site_map">
    <li><a href="#">ヘルプ</a></li>
    <li><a href="#">サービス利用規約</a></li>
    <li><a href="#">個人情報保護方針</a></li>
    <li><a href="#">特定商法に基づく表示</a></li>
    <li><a href="#">著作権情報</a></li>
    <li><a href="#">お問い合わせ</a></li>
    <li><a href="#">ユーザー情報</a></li>
    <li><a href="#">datestyleの使い方</a></li>
  </ul>

  <div class="top_footer">
    <small>copyright©DateStyle.inc All Rights Reserved</small>
  </div>

</footer>