<%# if current_user %>
<!--  ログイン時-->
<!--  <header class="header">-->
    <%#= link_to "", root_url, class: "headerLogo" %>
<!--    <nav class="headerNav">-->
      <%#= link_to current_user.name, user_show_path(current_user.id) %>
<!--      <div class="menuButton">-->
<!--        <div id="navToggle">-->
<!--          <span></span><span></span><span></span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </header>-->
<!--  <aside>-->
<!--    <div class="side">-->
<!--      <a href="/"><div class="sideImg"></div></a>-->
<!--      <ul class="sideNav">-->
<!--        <a href="/how_to"><li>datestyleの使い方</li></a>-->
<!--        <a href="#"><li>お知らせ</li></a>-->
<!--        <a href="/users/<%#= current_user.id %>"><li>ユーザー情報</li></a>-->
<!--        <a href="#"><li>ヘルプ</li></a>-->
<!--  <!--      <a href="#"><li>サービス利用規約</li></a>-->
<!--  <!--      <a href="#"><li>個人情報保護方針</li></a>-->
<!--  <!--      <a href="#"><li>特定商法に基づく表示</li></a>-->
<!--  <!--      <a href="#"><li>著作権情報</li></a>-->
<!--  <!--      <a href="#"><li>ご意見・ご要望</li></a>-->
<!--  <!--      <a href="#"><li>ユーザー情報</li></a>-->
<!--  <!--      <a href="#"><li>著作権情報</li></a>-->
        <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<!--      </ul>-->
<!--    </div>-->
<!--  </aside><%# else %>-->
<!--  未ログイン時-->

<!--  <header class="header">-->
    <%#= link_to "", root_url, class: "headerLogo" %>
<!--    <nav class="headerNav">-->
<!--      <a class="headerBtn" href="/users/sign_up"><p>新規登録</p></a>-->
<!--      <a class="headerBtn" href="/users/sign_in"><p>ログイン</p></a>-->
<!--      <div class="menuButton">-->
<!--        <div id="navToggle">-->
<!--          <span></span><span></span><span></span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </header>-->
<!--  <aside>-->
<!--    <div class="side">-->
<!--      <a href="/"><div class="sideImg"></div></a>-->
<!--      <ul class="sideNav">-->
<!--        <a href="/how_to"><li>datestyleの使い方</li></a>-->
<!--        <a href="/users/sign_up"><li>新規登録</li></a>-->
<!--        <a href="/users/sign_in"><li>ログイン</li></a>-->
<!--        <!--        <a href="#"><li>会員登録情報</li></a>-->
<!--        <!--      <a href="#"><li>サービス利用規約</li></a>-->
<!--        <!--      <a href="#"><li>個人情報保護方針</li></a>-->
<!--        <!--      <a href="#"><li>特定商法に基づく表示</li></a>-->
<!--        <!--      <a href="#"><li>著作権情報</li></a>-->
<!--        <!--      <a href="#"><li>ご意見・ご要望</li></a>-->
<!--        <!--      <a href="#"><li>ユーザー情報</li></a>-->
<!--        <!--      <a href="#"><li>著作権情報</li></a>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </aside>-->

<%# end %>











<% if current_user %>
  <!--  ログイン時-->
  <header class="header">
    <%= link_to "", root_url, class: "headerLogo" %>
    <nav class="headerNav">
      <%= link_to current_user.name, user_show_path(current_user.id) %>
      <div class="menuButton">
        <div id="navToggle">
          <span></span><span></span><span></span>
        </div>
      </div>
    </nav>
  </header>
  <aside>
    <div class="side">
      <a href="/"><div class="sideImg"></div></a>
      <ul class="sideNav">
        <a href="/how_to"><li><i class="fas fa-align-left fa-fw"></i>datestyleの使い方</li></a>
        <a href="#"><li><i class="fas fa-question-circle"></i>ヘルプ</li></a>
        <a href="#"><li><i class="fas fa-bookmark"></i>サービス利用規約</li></a>
        <a href="#"><li><i class="fas fa-envelope"></i>お問い合わせ</li></a>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <li>ログアウト</li>
        <% end %>
      </ul>
    </div>
  </aside><% else %>
  <!--  未ログイン時-->

  <header class="header">
    <%= link_to "", root_url, class: "headerLogo" %>
    <nav class="headerNav">
      <a class="headerBtn" href="/users/sign_up"><p>新規登録</p></a>
      <a class="headerBtn" href="/users/sign_in"><p>ログイン</p></a>
      <div class="menuButton">
        <div id="navToggle">
          <span></span><span></span><span></span>
        </div>
      </div>
    </nav>
  </header>
  <aside>
    <div class="side">
      <!-- <a href="/"><div class="sideImg"></div></a> -->
      <ul class="sideNav">
        <a href="/how_to"><li><p><i class="fas fa-align-left fa-fw"></i>datestyleの使い方</p></li></a>
        <a href="/users/sign_up"><li><i class="fas fa-plus fa-fw"></i>新規登録</li></a>
        <a href="/users/sign_in"><li><i class="fas fa-sign-in-alt fa-fw"></i>ログイン</li></a>
        <a href="#"><li><i class="fas fa-question-circle"></i>ヘルプ</li></a>
        <a href="#"><li><i class="fas fa-bookmark"></i>サービス利用規約</li></a>
        <a href="#"><li><i class="fas fa-envelope"></i>お問い合わせ</li></a>


      </ul>
    </div>
  </aside>

<% end %>



