<!--<h2>Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "off" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? -%>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end -%>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "restaurants/shared/links" %>

<div class="sign_container">
  <div class="sign_img">
    <%= image_tag "date_logo.png", size: "180x60" %>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="sign_content">
      <p>メールアドレス</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <p>パスワード</p>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <%= f.submit "ログイン", class: "sign_button" %>
  <% end %>
  <div>
    <p><%= link_to "新規登録はこちら", new_restaurant_registration_path %></p>　　
    <p><%= link_to "パスワードを忘れた方", new_restaurant_password_path %></p>
  </div>
</div>
