<% images.each do |content| %>
  <a class="menuChild" id="drinkId_<%= content.id %>" href="#popProductId1">
    <img src=<%= content.image.to_s %> alt="" width="100%" height="120px" style="border-radius:30px 30px 0 0">
    <div class="menuText">
      <div class="menuName">
        <h4><%= content.name %></h4>
        <span class="menuPlace"><%= content.price %></span>
      </div>
      <p class="menuMore">詳しく見る</p>
    </div>
  </a>

  <div class="mfp-iframe-scaler mfp-hide pop_product" id="popDrinkId_<%= content.id %>">
    <div class="pop_product_img">
      <img src="" alt="" width="100%" height="100%">
    </div>
    <div class="pop_product_text">
      <p class="pop_product_name"><%= content.name %></p>
      <p class="pop_product_price"><%= content.price %></p>
      <p class="pop_product_descriction"><%= content.content %></p>
    </div>
  </div>
<% end %>


<script>
    <% images.each do |content| %>

    $(document).ready(function() {

        $('a#drinkId_<%= content.id %>').magnificPopup({
            items: {
                src: '#popDrinkId_<%= content.id %>'
            },
            type: 'inline'
        });

    });

    <% end %>

</script>