<%# restaurants.each do |restaurant| %>
  <%# reputation = average_reputation(restaurant) %>

<!--  <a class="article", href="/restaurants/<%#= restaurant.id %>">-->
<!--  <div class="articleHeader">-->
<!--    <h3><%#= restaurant.restaurant_name %></h3>-->
<!--    <p><%#= restaurant.keyword_list.first %></p>-->
<!--  </div>-->
<!--  <div class="articleContent">-->
<!--    <div class="articleImg">-->
<!--      <img src="<%#= restaurant.image %>" alt="" width="100%" height="100%">-->
<!--    </div>-->
<!--    <div class="articleText">-->
<!--      <div class="articleEvaluation">-->
<!--        <div class="evaluationStar">-->
          <%# if reputation == 0 %>
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
          <%# elsif reputation <= 1 %>
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
          <%# elsif reputation <= 2 %>
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
          <%# elsif reputation <= 3 %>
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
          <%# elsif reputation <= 4 %>
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-gray"></i>-->
          <%# else %>
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
<!--            <i class="fas fa-star my-yellow"></i>-->
          <%# end %>
<!--          <span class="articleEvaText">-->
            <%# if reputation <= 5 %>
              <%#= reputation.round(2) %>
            <%# else %>
<!--              評価なし-->
            <%# end %>
<!--          </span>-->
<!--        </div>-->
<!--        <p class="restaurantAdress">-->
          <%#= restaurant.address %>
<!--        </p>-->
<!--        <p class="articleCoupon">使用したクーポン:飲み放題0円/会計10％OFF</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <p class="articleDescription">-->

    <%#= restaurant.description %>

<!--  </p>-->

<!--</a>-->
<%# end %>







<!--ここから-->
<% restaurants.each do |restaurant| %>
  <% reputation = average_reputation(restaurant) %>

    <div class="restaurant">
      <div class="restaurant_img">
        <% if restaurant.image.blank? %>
          <img src="<%= asset_path "restaurant.jpg" %>" alt="" width="100%" height="250px">
        <% else %>
          <img src="<%= restaurant.image %>" alt="" width="100%" height="250px">
        <% end %>
        <div class="restaurant_detail">
          <div class="star">
            <% if reputation == 0 %>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
            <% elsif reputation <= 1 %>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
            <% elsif reputation <= 2 %>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
            <% elsif reputation <= 3 %>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-gray"></i>
              <i class="fas fa-star my-gray"></i>
            <% elsif reputation <= 4 %>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-gray"></i>
            <% else %>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
              <i class="fas fa-star my-yellow"></i>
            <% end %>
          </div>
          <p class="restaurant_category">居酒屋・ダイニングバー</p>
          <h3 class="restaurant_title"><%= restaurant.restaurant_name %></h3>
        </div>
      </div>

      <div class="restaurant_description">
        <div class="restaurant_description">
          <p class="restaurant_text">まるで絵画の様に美しい料理の数々を、絶景を望みながら堪能する</p>
          <p class="zero"><i class="fas fa-beer fa-fw"></i>0円飲み放題 : ○</p>
          <p class="address"><i class="fas fa-map-marker-alt fa-fw"></i>東京都豊島区池袋4-5-6 丸沢ビル5F</p>
          <p class="num"><i class="fas fa-phone fa-fw"></i><a href="tel:0332144214">03-3214-4214</a></p>
<!--          <div class="restaurant_shosai">-->
<!--            <p><a href="#">店舗詳細はこちら ></a></p>-->
<!--          </div>-->
          <button type="button" name="button" id="before_pop<%= restaurant.id %>">0円で飲む！</button>
        </div>
      </div>

<!--      <div class="restaurant_shosai">-->
<!--        <p><a href="/restaurants/<%#= restaurant.id %>">店舗詳細はこちら ></a></p>-->
<!--      </div>-->

    </div>

  <div class="mfp-iframe-scaler mfp-hide pop" id="pop_<%= restaurant.id %>">
    <img src="assets/date_logo.png" alt="" width="40%">
    <p class="pop_text">0円で飲みますか？</p>
    <small>※この画面を店員さんに見せてください。</small>
    <div class="pop_button">
      <a href=""><button type="submit" name="button" class="pop_auth">承認します</button></a>
    </div>
  </div>




<% end %>


<script>

    $(document).ready(function(){

        <% restaurants.each do |r| %>
        $('#before_pop<%= r.id %>').magnificPopup({
            items: {
                src: '#pop_<%= r.id %>'
            },
            type: 'inline'
        });
        <% end %>


        // $('#use_0yen').magnificPopup({
        //     items: {
        //         src: '#authenticate'
        //     },
        //     type: 'inline'
        // });

    });

</script>




