<section id="newArrival" class="section">
  <h2 class="secTitle">検索結果</h2>
  <h3>店舗名：<%= @searched_name %> カテゴリー名：<%= @searched_category %></h3>
  <div class="articleLoop">
    <% if !@restaurants.blank? %>
      <%= render "restaurant_list", restaurants: @restaurants %>
    <% else %>
      <br>

      条件に合うお店がありませんでした。
    <% end %>

  </div>
</section>