<div class="singleEyecatch">
  <img src="<%= @restaurant.image %>" alt="" class="singleEyecatchImg" width="100%" height="100%">
  <div class="singleEyecatchTitle">
    <p class="singleCategory"><%= @restaurant.keyword_list.first %></p>
    <p class="couponWhich">飲み放題0円:<span>○</span></p>
    <% reputation = average_reputation(@restaurant) %>
    <div class="singleEvaluation">
      <% if reputation <= 5 %>
        <%= reputation.round(2) %>
      <% else %>
        評価なし
      <% end %>
    </div>
    <div class="evaluationStar">
      <% if reputation == 0 %>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
      <% elsif reputation <= 1 %>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
      <% elsif reputation <= 2 %>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
      <% elsif reputation <= 3 %>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-gray"></i>
        <i class="fas fa-star my-gray"></i>
      <% elsif reputation <= 4 %>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-gray"></i>
      <% else %>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
        <i class="fas fa-star my-yellow"></i>
      <% end %>
    </div>
  </div>
</div>
<section id="singleIntro" class="section">
  <div class="secTitle"><h2><%= @restaurant.restaurant_name %></h2><span></span></div>
  <div class="singleIntroContent">
    <p class="singleIntroHeader">店舗説明</p>
    <p class="singleIntroSentence">
      <%= @restaurant.description %>
    </p>
<!--    <a class="introMore">続きを読む</a>-->
  </div>

</section>
<section id="singlefree" class="section">
  <div class="secTitle"><h2>0円飲み放題</h2><a href="#gmap_popup" class="couponButton">クーポンを表示する</a></div>


  <!--  <div class="freeTable">-->
<!--    <div class="freeTableBox">-->
<!--      <div class="weekly">月</div>-->
<!--      <div class="times"><span class="start">10:00</span>~<span class="end">14:00</span></div>-->
<!--    </div>-->
<!--    <div class="freeTableBox">-->
<!--      <div class="weekly">月</div>-->
<!--      <div class="times"><span class="start">10:00</span>~<span class="end">14:00</span></div>-->
<!--    </div>-->
<!--    <div class="freeTableBox">-->
<!--      <div class="weekly">月</div>-->
<!--      <div class="times"><span class="start"></span>~<span class="end"></span></div>-->
<!--    </div>-->
<!--    <div class="freeTableBox">-->
<!--      <div class="weekly">月</div>-->
<!--      <div class="times"><span class="start"></span>~<span class="end"></span></div>-->
<!--    </div>-->
<!--    <div class="freeTableBox">-->
<!--      <div class="weekly">月</div>-->
<!--      <div class="times"><span class="start"></span>~<span class="end"></span></div>-->
<!--    </div>-->
<!--    <div class="freeTableBox">-->
<!--      <div class="weekly">月</div>-->
<!--      <div class="times"><span class="start"></span>~<span class="end"></span></div>-->
<!--    </div>-->
<!--    <div class="freeTableBox">-->
<!--      <div class="weekly">月</div>-->
<!--      <div class="times"><span class="start"></span>~<span class="end"></span></div>-->
<!--    </div>-->
<!--  </div>-->
</section>
<!--<section id="normalCoupon" class="section">-->
<!--  <div class="secTitle"><h2>通常クーポン</h2></div>-->
<!--  <div class="couponLoop">-->
<!--    <a href="#popCouponId" id="couponId"class="couponPopup">-->
<!--      <div class="couponImg">-->
<!--        <img src="img/recom3.jpg" alt="" width="100%" height="100%">-->
<!--      </div>-->
<!--      <div class="couponContent">-->
<!--        <p class="couponTitle">クーポン名</p>-->
<!--        <p class="couponLink">クーポンを表示する</p>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a href="#" class="couponPopup">-->
<!--      <div class="couponImg">-->
<!--        <img src="img/recom3.jpg" alt="" width="100%" height="100%">-->
<!--      </div>-->
<!--      <div class="couponContent">-->
<!--        <p class="couponTitle">クーポン名</p>-->
<!--        <p class="couponLink">クーポンを表示する</p>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="secTitle"><h2>スペシャルクーポン</h2></div>-->
<!--  <div class="couponLoop">-->
<!--    <a href="#" class="couponPopup">-->
<!--      <div class="couponImg">-->
<!--        <img src="img/recom3.jpg" alt="" width="100%" height="100%">-->
<!--      </div>-->
<!--      <div class="couponContent">-->
<!--        <p class="couponTitle">クーポン名クーポン名クーポン名クーポン名クーポン名クーポン名</p>-->
<!--        <p class="couponLink">クーポンを表示する</p>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a href="#" class="couponPopup">-->
<!--      <div class="couponImg">-->
<!--        <img src="img/recom3.jpg" alt="" width="100%" height="100%">-->
<!--      </div>-->
<!--      <div class="couponContent">-->
<!--        <p class="couponTitle">クーポン名</p>-->
<!--        <p class="couponLink">クーポンを表示する</p>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--</section>-->
<nav class="tab">
  <ul class="singleNav">
    <li class="active">料理</li>
    <li>ドリンク</li>
    <li>クーポン一覧</li>
    <li>店舗詳細</li>
  </ul>
</nav>
<section class="area">
  <section id="menuDishes" class="section show">
    <div class="singleMenu">

      <%= render "food_images_list", images: @food_images %>

      <% if @food_images.blank? %>
        フードメニューは登録されていません。
      <% end %>

    </div>
  </section>
  <section id="menuDrink" class="section">
    <div class="singleMenu">

      <%= render "drink_images_list", images: @drink_images %>

      <% if @drink_images.blank? %>
        ドリンクメニューは登録されていません。
      <% end %>
    </div>
  </section>
  <section id="menuCoupon" class="section">

    <%#= render "coupons/coupon_list", coupons: @coupons %>

  </section>
  <section id="menuMap" class="section">

  <!--    map-->

<!--    <script type="text/javascript">-->
<!--        function initMap() {-->

<!--            var test ={lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};-->
<!--            var map = new google.maps.Map(document.getElementById('map'), {-->
<!--                zoom: 15,-->
<!--                center: test-->
<!--            });-->
<!--            var transitLayer = new google.maps.TransitLayer();-->
<!--            transitLayer.setMap(map);-->

<!--            var contentString = '住所：<%= @restaurant.address %>';-->
<!--            var infowindow = new google.maps.InfoWindow({-->
<!--                content: contentString-->
<!--            });-->

<!--            var marker = new google.maps.Marker({-->
<!--                position:test,-->
<!--                map: map,-->
<!--                title: contentString-->
<!--            });-->

<!--            marker.addListener('click', function() {-->
<!--                infowindow.open(map, marker);-->
<!--            });-->
<!--        }-->
<!--    </script>-->
<!--    <script async defer-->
<!--            src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCm--93RGRHDl7oP7UnoFisL0y8mh3QNFI&callback=initMap">-->
<!--    </script>-->
<!--    <style type="text/css">-->
<!--      #map { height: 300px;-->
<!--        width: 100%;-->
<!--        frameborder: "0";-->
<!--        style :"border:0" allowfullscreen;-->
<!--        }-->
<!--    </style>-->
<!--    <div id="map"></div>-->

  <!--    map-->

<!--    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207296.06616212014!2d139.5765738164063!3d35.726193099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d6eab47fe49%3A0x3b9428a70a1ead3e!2z6LGK5bO25Yy65b255omA!5e0!3m2!1sja!2sjp!4v1536906276467" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>-->
    <table>
      <tr>
        <th>住所</th>
        <td><%= @restaurant.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @restaurant.phone %></td>
      </tr>
      <tr>
        <th>席数</th>
        <td><%= @restaurant.seat_num %></td>
      </tr>
      <tr>
        <th>予算</th>
        <td><%= @restaurant.budget %></td>
      </tr>
    </table>
  </section>
</section>

<% unless @restaurant.comments.blank? %>
<section id="comment" class="section">
  <div class="secTitle"><h2>レビュー</h2></div>
  <%= render 'comments/list', comments: @comments %>
</section>
<% end %>
<section id="commentUp" class="section">
  <div class="secTitle"><h2>レビュー記入</h2></div>
  <h3 class="secSubTitle">店舗評価</h3>
  <%= form_for @comment, class: "commentUp" do |f| %>
    <div class="fourthEvaluation">
      <div class="evaChild">
        <h3 class="starTitle">クーポン</h3>
        <div class="evaluation">

          <%= f.radio_button :coupon_reputation, 5, id: "CouponStar1" %>
          <label for="CouponStar1">★</label>
          <%= f.radio_button :coupon_reputation, 4, id: "CouponStar2" %>
          <label for="CouponStar2">★</label>
          <%= f.radio_button :coupon_reputation, 3, id: "CouponStar3" %>
          <label for="CouponStar3">★</label>
          <%= f.radio_button :coupon_reputation, 2, id: "CouponStar4" %>
          <label for="CouponStar4">★</label>
          <%= f.radio_button :coupon_reputation, 1, id: "CouponStar5" %>
          <label for="CouponStar5">★</label>
        </div>
      </div>
      <div class="evaChild">
        <h3 class="starTitle">接客</h3>
        <div class="evaluation service">
          <%= f.radio_button :service_reputation, 5, id: "ServiceStar1" %>
          <label for="ServiceStar1">★</label>
          <%= f.radio_button :service_reputation, 4, id: "ServiceStar2" %>
          <label for="ServiceStar2">★</label>
          <%= f.radio_button :service_reputation, 3, id: "ServiceStar3" %>
          <label for="ServiceStar3">★</label>
          <%= f.radio_button :service_reputation, 2, id: "ServiceStar4" %>
          <label for="ServiceStar4">★</label>
          <%= f.radio_button :service_reputation, 1, id: "ServiceStar5" %>
          <label for="ServiceStar5">★</label>
        </div>
      </div>
      <div class="evaChild">
        <h3 class="starTitle">料理</h3>
        <div class="evaluation evaFood">
          <%= f.radio_button :food_reputation, 5, id: "FoodStar1" %>
          <label for="FoodStar1">★</label>
          <%= f.radio_button :food_reputation, 4, id: "FoodStar2" %>
          <label for="FoodStar2">★</label>
          <%= f.radio_button :food_reputation, 3, id: "FoodStar3" %>
          <label for="FoodStar3">★</label>
          <%= f.radio_button :food_reputation, 2, id: "FoodStar4" %>
          <label for="FoodStar4">★</label>
          <%= f.radio_button :food_reputation, 1, id: "FoodStar5" %>
          <label for="FoodStar5">★</label>
        </div>
      </div>
      <div class="evaChild">
      <h3 class="starTitle">ドリンク</h3>
      <div class="evaluation evaDrink">
        <%= f.radio_button :drink_reputation, 5, id: "DrinkStar1" %>
        <label for="DrinkStar1">★</label>
        <%= f.radio_button :drink_reputation, 4, id: "DrinkStar2" %>
        <label for="DrinkStar2">★</label>
        <%= f.radio_button :drink_reputation, 3, id: "DrinkStar3" %>
        <label for="DrinkStar3">★</label>
        <%= f.radio_button :drink_reputation, 2, id: "DrinkStar4" %>
        <label for="DrinkStar4">★</label>
        <%= f.radio_button :drink_reputation, 1, id: "DrinkStar5" %>
        <label for="DrinkStar5">★</label>
      </div>
    </div>
    </div>


<!--          <input id="CouponStar1" type="radio" name="coupon" value="5" />-->
<!--          <label for="CouponStar1">★</label>-->
<!--          <input id="CouponStar2" type="radio" name="coupon" value="4" />-->
<!--          <label for="CouponStar2">★</label>-->
<!--          <input id="CouponStar3" type="radio" name="coupon" value="3" />-->
<!--          <label for="CouponStar3">★</label>-->
<!--          <input id="CouponStar4" type="radio" name="coupon" value="2" />-->
<!--          <label for="CouponStar4">★</label>-->
<!--          <input id="CouponStar5" type="radio" name="coupon" value="1" />-->
<!--         <label for="CouponStar5">★</label>-->

<!--      <div class="evaChild">-->
<!--        <h3 class="starTitle">接客</h3>-->
<!--        <div class="evaluation ">-->
<!--          <input id="ServiceStar1" type="radio" name="service" value="5" />-->
<!--          <label for="ServiceStar1">★</label>-->
<!--          <input id="ServiceStar2" type="radio" name="service" value="4" />-->
<!--          <label for="ServiceStar2">★</label>-->
<!--          <input id="ServiceStar3" type="radio" name="service" value="3" />-->
<!--          <label for="ServiceStar3">★</label>-->
<!--          <input id="ServiceStar4" type="radio" name="service" value="2" />-->
<!--          <label for="ServiceStar4">★</label>-->
<!--          <input id="ServiceStar5" type="radio" name="service" value="1" />-->
<!--          <label for="ServiceStar5">★</label>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="evaChild">-->
<!--        <h3 class="starTitle">料理</h3>-->
<!--        <div class="evaluation evaFood">-->
<!--          <input id="FoodStar1" type="radio" name="food" value="5" />-->
<!--          <label for="FoodStar1">★</label>-->
<!--          <input id="FoodStar2" type="radio" name="food" value="4" />-->
<!--          <label for="FoodStar2">★</label>-->
<!--          <input id="FoodStar3" type="radio" name="food" value="3" />-->
<!--          <label for="FoodStar3">★</label>-->
<!--          <input id="FoodStar4" type="radio" name="food" value="2" />-->
<!--          <label for="FoodStar4">★</label>-->
<!--          <input id="FoodStar5" type="radio" name="food" value="1" />-->
<!--          <label for="FoodStar5">★</label>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="evaChild">-->
<!--        <h3 class="starTitle">飲み物</h3>-->
<!--        <div class="evaluation evaDrink">-->
<!--          <input id="DrinkStar1" type="radio" name="drink" value="5" />-->
<!--          <label for="DrinkStar1">★</label>-->
<!--          <input id="DrinkStar2" type="radio" name="drink" value="4" />-->
<!--          <label for="DrinkStar2">★</label>-->
<!--          <input id="DrinkStar3" type="radio" name="drink" value="3" />-->
<!--          <label for="DrinkStar3">★</label>-->
<!--          <input id="DrinkStar4" type="radio" name="drink" value="2" />-->
<!--          <label for="DrinkStar4">★</label>-->
<!--          <input id="DrinkStar5" type="radio" name="drink" value="1" />-->
<!--          <label for="DrinkStar5">★</label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <%= f.text_area :comment, size: "60x8" %>
    <%= hidden_field_tag :restaurant_id, @restaurant.id %>
    <%= f.submit "投稿", class: "commentBtn" %>
  <% end %>
</section>
<!--<div class="mfp-iframe-scaler mfp-hide pop_0yen" id="popup_store">-->
<!--  <h3 class="popUpName">クーポン名</h3>-->
<!--  <p class="popUpDetail">文章が入ります。文章が入ります。文章が入ります。-->

<!--    文章が入ります。文章が入ります。文章が入ります。文章が入ります。</p>-->
<!--  <form class="" action="index.html" method="post">-->
<!--    <input type="password" name="" value="" class="popUpPassward">-->
<!--    <button type="submit" name="button" class="popUpLink">クーポンを承認する</button>-->
<!--  </form>-->
  <%#= form_for :used_coupon, url: use_coupon_path do |f| %>

    <%#= f.hidden_field :coupon_user, value: coupon.id %>
    <%#= f.hidden_field :user_id, current_user.id %>

  <%# end %>

<!-- couponlist -->
<!--<div class="mfp-iframe-scaler mfp-hide pop_0yen" id="popCouponId">-->
<!--  <h3 class="popUpName">クーポン名</h3>-->
<!--  <p class="popUpContent">クーポン内容</p>-->
<!--  <a class="popUpLink" href="#">クーポンを使用する</a>-->
<!--</div>-->
<!-- menu popup -->
<!--<div class="mfp-iframe-scaler mfp-hide pop_product" id="popProductId1">-->
<!--  <div class="pop_product_img">-->
<!--    <img src="" alt="" width="100%" height="100%">-->
<!--  </div>-->
<!--  <div class="pop_product_text">-->
<!--    <p class="pop_product_name">商品名</p>-->
<!--    <p class="pop_product_price">金額</p>-->
<!--    <p class="pop_product_descriction">商品詳細</p>-->
<!--  </div>-->
<!--</div>-->


<!--0円ポップアップ-->
<div class="mfp-iframe-scaler mfp-hide pop_0yen" id="popup_0yen">
  <h3 class="popUpName"><%= @restaurant.coupons.first.name %></h3>
  <p class="popUpContent"><%= @restaurant.coupons.first.content %></p>
  <a class="popUpLink" id="use_0yen" >クーポンを使用する</a>
</div>

<!--<div class="mfp-iframe-scaler mfp-hide pop_0yen" id="authenticate">-->
<!--  <h3 class="popUpName">認証画面</h3>-->
<!--  <p class="popUpContent">この画面を店員に見せて下さい。</p>-->
<!--  <a class="popUpLink" href="/coupon/use/<%#= @restaurant.id %>/<%#= @restaurant.coupons.first.id %>">認証する</a>-->
<!--</div>-->


<!--<footer id="footer">-->
<!--  <div class="footerLogo"></div>-->
<!--  <div class="copyRight">-->
<!--    copyright&copy;DateStyle.inc All Rights Reserved-->
<!--  </div>-->
<!--</footer>-->


<!--<script>-->

<!--    $(document).on('turbolinks:load', function(){-->

<!--        $('a.couponButton').magnificPopup({-->
<!--            items: {-->
<!--                src: '#popup_0yen'-->
<!--            },-->
<!--            type: 'inline'-->
<!--        });-->

<!--        $('#use_0yen').magnificPopup({-->
<!--            items: {-->
<!--                src: '#authenticate'-->
<!--            },-->
<!--            type: 'inline'-->
<!--        });-->

<!--    });-->

<!--</script>-->



