$('#load_page').append("<%= escape_javascript(render 'restaurant_list',{restaurants:@restaurants}) %>")
$('#more_link').replaceWith("<%= escape_javascript(link_to_next_page(@restaurants, 'もっと見る', remote: true, id: 'more_link')) %>");