<!--<div class="eyecatch">-->
<!--  <div class="eyecatchInner">-->
<!--    <div class="eyecatchImg"></div>-->
    <%#= form_tag search_path,method: :get, class: "eyecatchForm" do %>

<!--      <div class="keywordSearch">-->
        <%#= text_field_tag :name,"", class: "", placeholder: "店舗名で検索" %>
<!--      </div>-->
<!--      <div class="categorySearch">-->
        <%#= text_field_tag :category,"", class: "" , placeholder: "タグで検索" %>
<!--      </div>-->

<!--      <div class="eyecatchButton">-->
        <%#= button_tag "検索", class: "eyecatchButton" %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->
<!--  <section id="registration" class="section">-->
<!--    <a class="registaBtn" href="/users/sign_up"><p>今すぐ登録で飲み放題０円</p><i></i></a>-->
<!--    <a class="registaBtn" href="/restaurants/sign_in"><p>加盟店のお問い合わせはこちら</p><i></i></a>-->
<!--  </section>-->
<!--  category loop-->
<!--<section id="category" class="category section">-->
<!--  <h2 class="secTitle">カテゴリーからお店を探す</h2>-->
<!--  <ul class="categoryList">-->

  <%# @tags.each do |tag| %>
<!--    <li><%#= link_to tag.name, search_path(category: tag.name) %></li>-->
    <%# end %>
<!--  </ul>-->

<!--</section>-->
<!-- article loop>

</article> -->
<%# unless @prior_restaurants.blank? %>
<!--  <section id="newArrival" class="section">-->
<!--    <h2 class="secTitle">おすすめ</h2>-->
<!--    <div class="articleLoop">-->

        <%#= render 'restaurant_list', restaurants: @prior_restaurants %>


<!--    </div>-->
<!--  </section>-->
<%# end %>

<!--<section id="newArrival" class="section">-->
<!--  <h2 class="secTitle">新着</h2>-->
<!--  <div class="articleLoop">-->

<!--    <div id="load_page">-->
      <%#= render 'restaurant_list', restaurants: @restaurants %>
<!--    </div>-->
    <%#= link_to_next_page @restaurants, 'もっと見る', remote: true, id: 'more_link' %>

<!--  </div>-->
<!--</section>-->










<div class="eyecatch">
  <div class="eyecatchInner">
    <div class="eyecatchImg"></div>
    <%= form_tag search_path,method: :get, class: "eyecatchForm" do %>

      <div class="keywordSearch">
        <%= text_field_tag :name,"", class: "", placeholder: "店舗名で検索" %>
      </div>
      <div class="categorySearch">
        <%= text_field_tag :category,"", class: "" , placeholder: "タグで検索" %>
      </div>

        <%= button_tag "検索", class: "eyecatchButton" %>
    <% end %>
  </div>
</div>
<section id="registration" class="section">
  <a class="registaBtn" href="/users/sign_up"><p>今すぐ登録で飲み放題０円<i class="fas fa-plus fa-fw"></i></p><i></i></a>
  <a class="registaBtn" href="/restaurants/sign_in"><p>加盟店のお問い合わせはこちら<i class="fas fa-envelope fa-fw"></i></p><i></i></a>
</section>
<!--  category loop-->
<section id="category" class="category section">
  <h2 class="secTitle">カテゴリーからお店を探す</h2>
  <ul class="categoryList">

    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, search_path(category: tag.name) %></li>
    <% end %>
  </ul>

</section>
<!-- article loop>

</article> -->
<% unless @prior_restaurants.blank? %>
  <section id="newArrival" class="section">
    <h2 class="secTitle">おすすめ</h2>
    <div class="articleLoop">

<!--      <div id="load_page">-->
      <div class="restaurant_container">
        <div class="restaurant_wrap">

            <%= render 'restaurant_list', restaurants: @prior_restaurants %>
        </div>
      </div>
      <!--      </div>-->

    </div>
  </section>
<% end %>

<section id="newArrival" class="section">
  <h2 class="secTitle">新着</h2>
  <div class="articleLoop">

<!--    <div id="load_page">-->
    <div class="restaurant_container">
      <div class="restaurant_wrap" id="load_page">
      <%= render 'restaurant_list', restaurants: @restaurants %>
      </div>

<!--    </div>-->
    <div class='more_link'><%= link_to_next_page @restaurants, 'もっと見る >>', remote: true, id: 'more_link' %></div>
    </div>

  </div>
</section>


