//input[type="text"],input[type="search"],input[type="file"],input[type="email"],button, textarea,select{
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  border: none;
//  outline: none;
//}
///* .sign_up_form input[type="radio"]{
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  border: none;
//  outline: none;
//  background: none;
//} */
//input[type="search"],button[value="eyecatchButton"]{
//  background: none;
//}
//input[type="file"]{
//  opacity: 0;
//}
//input,textarea{
//  background-color: #eee;
//}
//input[type="checkbox"]{
//  height: auto;
//}
//
//
//
//@font-face {
//  font-family: 'SourceHanSerif';
//  src: font-url("SourceHanSans-Regular.otf");
//}
//@font-face {
//  font-family: 'SourceHanSerifJP';
//  src: font-url("SourceHanSansJP-Regular.otf");
//}
//html{
//  background-color: #dddddd;
//}
//.mobile{
//  //max-width: 370px;
//  min-height: 100vh;
//
//  padding: 50px 0;
//  box-sizing: border-box;
//  margin: auto;
//  background-color: #ffffff;
//  font-size: 14px;
//  letter-spacing: 1px;
//  position: relative;
//  font-family:'SourceHanSerif','M PLUS 1p','SourceHanSerifJP','Source Sans Pro','meiryo',arial, sans-serif;
//}
//.desktop{
//  display: none;
//}
//@media screen and (min-width: 500px) {
//  .mobile{
//    display: none;
//  }
//  .desktop{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    width: 100vw;
//    height: 100vh;
//    background-color: #FFF;
//    text-align: center;
//    font-family: 'Lobster', cursive;
//    //font-family: 'Monoton', cursive;
//    //font-family: 'Fugaz One', cursive;
//  }
//  .desktop h1{
//    font-size: 100px;
//    color: #FAD403;
//    font-weight: bold;
//    margin-bottom: 80px;
//  }
//  .desktop p{
//    line-height: 25px;
//    letter-spacing: 2px;
//  }
//
//}
//a{
//  text-decoration: none;
//  color: inherit;
//}
//.clearfix{
//  display: block;
//  content: "";
//  clear: both;
//}
//.section{
//  width: 95%;
//  padding-bottom: 80px;
//  margin: auto;
//}
//.section:first-of-type{
//  padding-top: 60px;
//}
//
//.secTitle{
//  font-size: 1.5em;
//  border-left: 5px solid #FAD403;
//  padding-left: 10px;
//  margin-bottom: 10px;
//  display: flex;
//  justify-content: space-between;
//}
//.secTitle span,
//.secTitle a{
//  display: inline-block;
//  font-size: 10px;
//  margin: auto 0px;
//}
//@media screen and (min-width:600px) {
//  body{
//    max-width:none;
//    font-size: 18px;
//  }
//}
///* header */
//.header{
//  height: 50px;
//  width: 100%;
//  //max-width: 370px;
//  padding: 0 2.5%;
//  background-color: #FAD403;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  position: fixed;
//  box-sizing: border-box;
//  top: 0px;
//  z-index: 99;
//}
//.headerLogo{
//  height: 40px;
//  width: 100px;
//  background: image-url('date.png');
//  background-size: contain;
//  background-position: center;
//}
//.headerNav{
//  display: flex;
//  align-items: center;
//}
//.headerBtn{
//  display: inline-block;
//  padding: 5px 10px;
//  font-size: 0.8em;
//  background-color: #fff;
//  color: #000;
//  margin-left: 10px;
//}
//@media screen and (min-width:600px) {
//  .header{
//    max-width: none;
//  }
//}
///* ハンバーガー */
//#navToggle{
//  width: 30px;
//  height: 24px;
//  margin-left: 10px;
//  cursor: pointer;
//  position: relative;
//}
//#navToggle span{
//  width: 100%;
//  display: block;
//  color: #fff;
//  border-bottom: 3px solid;
//  position: absolute;
//  transform: translateX(0px);
//  transition: 0.3s ease-in-out;
//}
//#navToggle span:nth-child(1){top:0;}
//#navToggle span:nth-child(2){top:11px;}
//#navToggle span:nth-child(3){top:22px;}
///*クリックした時のハンバーガーメニュー*/
//.openNav #navToggle span:nth-child(1){
//  transform: rotate(-45deg);
//  top: 11px;
//}
//.openNav #navToggle span:nth-child(2),
//.openNav #navToggle span:nth-child(3){
//  top: 11px;
//  transform: rotate(45deg);
//}
//.openNav .side{
//  transition-duration: 0.3s;
//  transform: translateX(-230px);
//}
///* aside */
//aside{
//}
//.side{
//  width: 230px;
//  height: 100vh;
//  position: fixed;
//  top: 0;
//  right: -230px;
//  box-sizing: border-box;
//  z-index: 99;
//  transform: translateX(0px);
//  transition: 0.3s ease-in-out;
//  margin-top: 50px;
//  background-color:rgba(255,255,255,0.9);
//}
//.sideImg{
//  width: 120px;
//  height: 42px;
//  margin: 30px auto;
//  background: image-url('date_logo.png')no-repeat;
//  background-size: cover;
//  background-position: center;
//
//}
//.sideNav{
//  padding-left: 15px;
//  padding-bottom: 20px;
//}
//.sideNav li{
//  line-height: 40px;
//}
//
///** top **/
//
///* eyecatch */
//.eyecatch{
//  width: 100%;
//  height: 300px;
//  background: image-url('recom3.jpg')no-repeat;
//  background-size: cover;
//  background-position: center;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//.eyecatchInner{
//  width: 95%;
//}
//
//.eyecatchImg{
//  height: 100px;
//  width: 70%;
//  margin: 20px auto;
//  background: image-url("0_yen.png")no-repeat;
//  background-size:contain;
//  background-position: center;
//}
//.eyecatchForm{
//  width: 100%;
//  display: flex;
//}
//.categorySearch input{
//  border-left: 1px solid;
//}
//
//.keywordSearch,.categorySearch{
//  width: 42%;
//  background-color: #fff;
//
//}
//.eyecatchButton{
//  width: 16%;
//  background-color: #FAD403;
//  color: #fff;
//  font-weight: bold;
//}
//.eyecatchInner input[type="text"]{
//  display: inline-block;
//  height: 35px;
//  width: 95%;
//  padding-left: 10px;
//  font-size: 14px;
//  background-color: #FFF;
//}
//input:focus::placeholder {
//  color: transparent;
//}
//.eyecatchInner input[type="submit"]{
//  height: 35px;
//  width: 100%;
//  color: #fff;
//  background-color: rgba(255,255,255,0);
//  font-weight: bold;
//  font-size: 14px;
//
//}
///* top 登録 */
//.registaBtn,
//.commentBtn{
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 100%;
//  height: 35px;
//  background-color: #FAD403;
//  margin:0 auto;
//  border-radius: 4px;
//  position:relative;
//}
//.registaBtn:first-child{
//  margin-bottom: 10px;
//}
//.registaBtn i{
//  position: absolute;
//  right: 10px;
//}
///* カテゴリーループ */
//.categoryList{
//  border-top: 1px solid;
//  border-bottom: 1px solid;
//}
//.categoryList li{
//  height: 30px;
//  line-height: 30px;
//  border-top: 1px solid;
//}
//.categoryListFirst:hover{
//  cursor: pointer;
//}
//.categoryListFirst:first-child{
//  border-top: 0;
//}
//.categoryListSecond{
//  display: none;
//  margin-left: 20px;
//}
//
///* 店舗ループ */
//.articleList{
//
//}
//.article{
//  display: block;
//  border: .5px solid;
//}
//.article:not(:last-of-type){
//  margin-bottom: 20px;
//}
//.articleHeader{
//  border-bottom: 1px solid;
//  display: flex;
//  align-items: center;
//  height: 30px;
//}
//.articleHeader h3{
//  margin-left: 20px;
//  font-weight: bold;
//  font-size: 1.2em;
//}
//.articleHeader p{
//  margin-left: 30px;
//}
//.articleContent{
//  display: flex;
//  justify-content: space-between;
//}
//.articleImg{
//  width: 30%;
//  height: 70px;
//
//}
//.articleText{
//  width: 70%;
//}
//.articleEvaluation{
//  padding:5px 10px;
//  border-bottom: 1px solid;
//  height: 60px;
//}
//.articleInline{
//  display: flex;
//}
//.evaluationStar{
//  display: inline-block;
//  color: yellow;
//  margin: 5px 0px;
//}
//.articleEvaText{
//  margin-left: 10px;
//  color: #000;
//}
//.restaurantAdress{
//  margin-top: 10px;
//}
//.articleDescription{
//  padding: 10px 10px;
//}
//.articleImgMore{
//  margin: 5px 0;
//  text-align: center;
//}
//.articleMore{
//  width: 100%;
//  height: 50px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  color: #000AFF;
//  border-top: 1px solid #000;
//  border-bottom: 1px solid #000;
//}
///** single  **/
///* singleEyecatch */
//.singleEyecatch{
//  width: 100%;
//  height: 262px;
//  /* margin-top: 50px; */
//  position: relative;
//}
//.singleEyecatchTitle{
//  height: 40px;
//  width: 90%;
//  padding: 0 5%;
//  color: #fff;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  background: rgba(0,0,0,0.7);
//  position: absolute;
//  bottom: 0;
//}
//.singleEvaluation .evaluationStar{
//  font-size: 0.9em;
//}
///* singleIntro */
//.singleIntroHeader{
//  font-weight: bold;
//  margin-bottom: 10px;
//}
//.singleIntroSentence{
//  font-size: 0.8em;
//  margin-bottom: 5px;
//}
//.introMore{
//  font-size: 0.8em;
//  color: #2500F4;
//  float: right;
//}
///* single0yen */
//.couponButton{
//  padding: 8px 50px;
//  background-color: #FAD403;
//  border-radius: 10px;
//}
//.freeTable{
//  height: 50px;
//  margin-top: 30px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  border: 1px solid;
//}
//.freeTableBox{
//  width: 14.3%;
//  height: 100%;
//  text-align: center;
//  font-size: 0.7em;
//  padding: 3px;
//  box-sizing: border-box;
//}
//.freeTableBox:not(:last-child){
//  border-right: 1px solid;
//}
//.times .end{
//  display: block;
//  text-align: right;
//}
//
///* normalCoupon */
//.couponPopup{
//  display: flex;
//  justify-content: space-between;
//  margin-bottom: 30px;
//}
//.couponImg{
//  width: 25%;
//  height: 80px;
//}
//.couponContent{
//  width: 75%;
//  border: 3px solid #FAD403;
//  box-sizing: border-box;
//}
//.couponTitle{
//  padding: 5px;
//  height: 49px;
//  box-sizing: border-box;
//}
//.couponLink{
//  line-height: 25px;
//  text-align: center;
//  background-color: #FAD403;
//}
//
///* singleNav */
//.singleNav{
//  display: flex;
//  justify-content: space-between;
//  border: 1px solid;
//  margin-bottom: 30px;
//}
//.singleNav li{
//  width: 25%;
//  line-height: 36px;
//  font-size: 13px;
//  text-align: center;
//}
//.singleNav li:not(:last-of-type){
//  border-right: 1px solid #707070;
//}
///* default */
//.singleNav li:first-child{
//  background-color: #FAD403;
//  color: #fff;
//}
///* singleMenu */
//.singleMenu{
//  display: flex;
//  justify-content: space-between;
//  flex-wrap: wrap;
//}
//.menuChild{
//  width: 45%;
//  height: 170px;
//  border-radius: 30px;
//  background-color: #eeeeee;
//  margin-bottom: 30px;
//}
//.menuText{
//  height: 50px;
//  padding: 0 10px;
//  font-size: 0.7em;
//}
//.menuName{
//  display: flex;
//  justify-content: space-between;
//}
//.menuName h4{
//  font-size: 0.8rem;
//  font-weight: bold;
//}
//.menuMore{
//  text-align: right;
//  color:#2500F4;
//}
//
///* comment */
//.commentChild{
//  padding:5px;
//  box-sizing: border-box;
//  border: 1px solid;
//  display: flex;
//  justify-content: space-between;
//}
//.commentChild:not(:last-child){
//  margin-bottom: 30px;
//}
//.commentLeft{
//  background-color: #eee;
//  height: 100px;
//  width: 28%;
//}
//.commentRight{
//  width: 70%;
//}
//.commentSentence{
//  font-size: 0.8em;
//  margin-bottom: 5px;
//}
//.commentMore{
//  float: right;
//  font-size: 0.8em;
//  color: #2500F4;
//}
///* commentUp */
//.secSubTitle{
//  margin-bottom: 20px;
//}
//.fourthEvaluation{
//  display: flex;
//  justify-content: space-between;
//  flex-wrap: wrap;
//  margin-bottom: 30px;
//}
//.evaChild{
//  width: 49%;
//}
//.starTitle{
//  margin: 10px 0px;
//}
//.evaluation{
//  display: flex;
//  flex-direction: row-reverse;
//  justify-content: center;
//}
//.evaluation input[type='radio']{
//  display: none;
//}
//.evaluation label{
//  position: relative;
//  color: gray;
//  cursor: pointer;
//  font-size: 30px;
//}
//.evaluation label:hover,
//.evaluation label:hover ~ label,
//.evaluation input[type='radio']:checked ~ label{
//  color: #ffcc00;
//}
//#commentUp textarea{
//  width:100%;
//  background-color: #eee;
//  border: 1px solid;
//  padding: 10px;
//  margin-bottom: 30px;
//  box-sizing: border-box;
//}
//
///* popup */
//.mfp-iframe-scaler{
//  padding-top: 0px;
//  height: auto;
//  overflow: visible;
//}
//
//.mfp-close-btn-in .mfp-close{
//  color: #fff;
//  font-size: 40px;
//}
//.mfp-content {
//  position:static;
//}
//.pop_0yen{
//  width: 80%;
//  margin: 0 auto;
//  background: #FAD403;
//  border: 6px solid #eeeeee;
//  color: #fff;
//  font-weight: bold;
//  border-radius: 20px;
//  text-align: center;
//  padding-bottom: 60px;
//}
//.popUpName{
//  font-size: 30px;
//  margin: 30px 0 50px;
//}
//.popUpContent{
//  font-size: 35px;
//  margin-bottom: 70px;
//}
//.popUpLink{
//  display: inline-block;
//  padding: 20px 10px;
//  border:2px solid;
//}
//.popUpDetail{
//  width: 80%;
//  margin: 30px auto;
//}
//.mfp-iframe-scaler button{
//  display: block;
//  margin: auto;
//  color: #fff;
//  background-color: #FAD403;
//}
//.popUpPassward{
//  display: block;
//  width: 70%;
//  height: 30px;
//  padding: 5px;
//  font-size: 20px;
//  margin: 0 auto 30px;
//}
///*  */
//.pop_product{
//  width: 100vw;
//  height: 100%;
//  display: flex;
//  align-items: center;
//
//}
//.pop_product_img{
//  width: 100%;
//  height: 300px;
//}
//.pop_product_text{
//  width: 100%;
//  padding-left: 20px;
//  margin-bottom: 20px;
//  box-sizing: border-box;
//  position: absolute;
//  bottom: 0px;
//  color: #fff;
//}
//.pop_product_name{
//  font-size: 1.5em;
//  font-weight: bold;
//}
//.pop_product_price{
//  margin: 20px 0 5px;
//}
///* single */
///* store_dashboard */
//#store_dashboard input[type="text"],
//#store_dashboard textarea{
//  background-color: #eee;
//  border: 1px solid #707070;
//  padding: 5px 10px;
//  margin-bottom: 20px ;
//  box-sizing: border-box;
//}
//#store_dashboard input{
//  width: 100%;
//  height: 40px;
//  margin-bottom: 10px;
//  box-sizing: border-box;
//}
//
//.main{
//  padding-top: 50px;
//  width: 90%;
//  margin: auto;
//}
//.sdd_section{
//  padding-top: 50px;
//  margin-top: -50px;
//  margin-bottom: 50px;
//}
//@media screen and (min-width:600px) {
//  #store_dashboard #navToggle{
//    display: none;
//  }
//  #store_dashboard .sdd_container{
//    width: 97.5%;
//    display: flex;
//    justify-content: space-between;
//  }
//  #store_dashboard .main{
//    width: 70%;
//  }
//  #store_dashboard aside{
//    position: static;
//    width: 30%;
//  }
//  #store_dashboard .side{
//    position: static;
//    font-size: 20px;
//    width: 80%;
//  }
//  #store_dashboard .sideImg{
//    display: none;
//  }
//  #store_dashboard .sideNav{
//    padding-top: 50px;
//    padding-left: 10%;
//    background-color: #eee;
//    width: 80%;
//  }
//  #store_dashboard .sideNav li{
//    background-color: #eee;
//  }
//}
//.borderB{
//  border-bottom: 2px solid #FAD403;
//}
//.ssd_logout{
//  display: inline-block;
//  padding: 10px 20px;
//  float: right;
//  background-color: #eee;
//}
//.sdd_list_item{
//  width: 100%;
//  /* display: flex;
//  justify-content: space-between; */
//  /* border: 1px solid #eee; */
//  margin-bottom: 20px;
//}
//.listName{
//  width: 30%;
//  background-color: #eee;
//  padding-left: 15px;
//  margin-bottom: 10px;
//}
//.listContent{
//  padding: 0 15px;
//}
//.listContentInput{
//  width: 100%;
//  padding: 4px 15px;
//  box-sizing: border-box;
//  margin: 10px 0;
//}
//@media screen and (min-width:600px){
//  .sdd_list_item{
//    display: flex;
//    justify-content: space-between;
//    border: 1px solid #ccc;
//    margin-bottom: 0px;
//    //font-size:
//  }
//  .listName{
//    margin-bottom: 0px;
//    line-height: 50px;
//  }
//  .listContent{
//    width: 65%;
//    line-height: 50px;
//  }
//}
///* store_keyword */
//.hash_input{
//  display: flex;
//  justify-content: space-between;
//}
//#store_dashboard form p{
//  margin-bottom: 10px;
//
//}
//
//#store_keyword input{
//  width: 65%;
//}
//#store_description textarea{
//  display: block;
//  width: 100%;
//}
//.store_keyword_form button{
//  display: inline-block;
//  width: 30%;
//  height: 40px;
//  background: #eee;
//}
//.hash_regist{
//  display: flex;
//  flex-wrap: wrap;
//}
//.hash_item{
//  display: inline-block;
//  background-color: #FAD403;
//  padding: 5px 10px;
//  border-radius: 5px;
//  font-size: 0.8em;
//  margin-right: 5px;
//}
//.hash_name{
//  display: inline;
//}
//@media screen and (min-width:600px) {
//  #store_keyword input{
//    width: 80%;
//  }
//  .store_keyword_form button{
//    display: inline-block;
//    width: 15%;
//    height: 40px;
//    background: #eee;
//  }
//
//}
//
///* store_img */
//.img_title{
//  padding-bottom: 10px;
//  margin-bottom: 10px;
//  border-bottom: 1px solid #707070;
//}
//.main_visial,
//.input_img{
//  background-color: #EEE;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  border: 1px solid #707070;
//}
//.img_food_loop{
//  display: flex;
//  justify-content: space-between;
//  flex-wrap: wrap;
//}
//.img_input{
//  position: relative;
//}
//.img_import{
//  position: absolute;
//}
//#food_button,
//#main_button{
//  width: 100%;
//  height: 100%;
//}
//.main_visial{
//  width: 100%;
//  height: 200px;
//  margin-bottom: 20px;
//}
//.input_img{
//  width: 48%;
//  height:120px;
//  background-color: #eeeeee;
//  margin-bottom: 10px;
//}
//.img_button{
//  font-size: 0.7em;
//  padding: 10px 15px;
//  background-color: #fff;
//  border: 1px solid #707070;
//  border-radius: 15px;
//}
//@media screen and (min-width:600px) {
//  .main_visial{
//    height: 400px;
//  }
//  .input_img{
//    width: 22%;
//  }
//}
///* クーポン */
//#store_coupon .input_img{
//  width: 100%;
//  height: 200px;
//  margin-bottom: 20px;
//}
//.coupon_input,
//.coupon_list{
//  margin-bottom: 50px;
//}
///* .coupon_input,
//.coupon_list{
//	display: flex;
//	justify-content: space-between;
//}
//#store_coupon .input_img{
//	width: 35%;
//}
//.coupon_text{
//	width: 63%;
//}
//*/
//.coupon_p{
//  margin-bottom: 5px;
//}
//@media screen and (min-width:600px) {
//  .coupon_input,
//  .coupon_list{
//    display: flex;
//    justify-content: space-between;
//  }
//  #store_coupon .input_img{
//    width: 30%;
//  }
//  #store_coupon .coupon_text{
//    width: 65%;
//  }
//}
///* sign */
//.sign_container,
//.page_container{
//  width: 90%;
//  margin: auto;
//  padding-top: 50px;
//  text-align: center;
//}
//.sign_img{
//  margin-bottom: 50px ;
//}
//.sign_container form{
//  margin-bottom: 30px;
//}
//.sign_container h2,
//.page_container h2{
//  margin-bottom: 20px;
//  font-size: 1.5em;
//  font-weight: bold;
//}
//.sign_container p{
//  margin-bottom: 5px;
//}
//.sign_content P{
//  text-align: left;
//}
//.sign_container_input{
//  width: 100%;
//  height: 40px;
//  padding: 10px;
//  margin-bottom: 20px;
//  box-sizing: border-box;
//}
//.sign_button{
//  width: 120px;
//  height: 35px;
//  font-size: 16px;
//  background-color: #FAD403;
//}
//.planSelect{
//  margin-bottom: 30px;
//}
//.planSelect label{
//  display: block;
//  text-align: left;
//  margin-bottom: 10px;
//}
//.planSelect input{
//  margin-right: 10px;
//}
///* footer */
//#footer{
//  width: 100%;
//  height: 30px;
//  padding: 0 5%;
//  box-sizing: border-box;
//  font-size: 0.5em;
//  background-color: #eeeeee;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  position: absolute;
//  bottom: 0px;
//}
//.footerLogo{
//  height: 20px;
//  width: 60px;
//  background: image-url("date_logo.png")no-repeat;
//  background-size: contain;
//  background-position: center;
//}
//
///* credit_up */
//.credit_limit{
//  display: flex;
//  justify-content: space-between;
//}
//.credit_limit_child{
//  width: 48%;
//  margin-bottom: 20px;
//}
//.credit_limit_child select{
//  width: 100%;
//  background-color: #eeeeee;
//  padding: 10px;
//}
///* confirm */
//.sign_container table{
//  margin-bottom: 30px;
//}
//.sign_content tr{
//  line-height: 30px;
//}
//.sign_content th{
//  width: 40%;
//}
//.sign_content td{
//  width: 50%;
//  text-align: left;
//}
//.confirm_link{
//  display: block;
//  margin-bottom: 10px;
//  color: #0082F3;
//}
//.confirm_agree{
//  display: flex;
//  justify-content: center;
//  margin-bottom: 20px;
//}
//.confirm_agree label{
//  text-align: center;
//  display: flex;
//  align-items: center;
//  justify-content: flex-start;
//}
//.confirm_agree input[type="checkbox"]{
//  height: auto;
//  width: auto;
//  margin-bottom: 5px;
//  margin-right: 10px;
//}
//.completion .sign_button{
//  height: auto;
//  display: inline-block;
//  padding: 10px 20px;
//}
//.completion-p{
//  margin: 100px auto 50px;
//}
//
///* SINGLE */
//.page_section{
//  text-align: left;
//}
//.page_container .secTitle{
//  font-size: 1.2em;
//  margin-top: 20px;
//}
//.page_section p,
//.page_section ul{
//  margin-left: 10px;
//  margin-bottom: 20px;
//}
///* user-page */
//.user_info{
//  margin: 0 auto 30px;
//  padding-top: 50px;
//  text-align: center;
//}
//.user_info .input_img{
//  margin: 0 auto 50px;
//}
//.user_info .img_button{
//  padding: 0;
//  height: 60px;
//  width: 60px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  background-color: #fff;
//  border: 1px solid #707070;
//  border-radius:50%;
//}
//.circle{
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  font-size: 30px;
//  color: #707070;
//}
//.user_info table{
//  width: 100%;
//}
//.user_info tr{
//  border-bottom: 1px solid;
//  line-height: 40px;
//}
//.user_info tr:first-child{
//  border-top: 1px solid;
//}
//.user_info th{
//  padding-left: 20px;
//}
//.delete{
//  margin-top: 30px;
//  font-size: 0.7em;
//  float: right;
//}
//
//.area section{
//  display: none;
//  transition: 0.8s;
//}
//.area section.show{
//  display: block;
//  transition: 0.8s;
//}
//.area .section:first-of-type{
//  padding-top: 0px;
//}
//#menuMap table{
//  width: 90%;
//  margin: 30px auto;
//}
//#menuMap tr{
//  line-height: 20px;
//  border-top: 1px solid;
//}
//#menuMap tr:last-child{
//  border-bottom: 1px solid;
//}
//#menuMap td,
//#menuMap th{
//  padding: 10px 0;
//}
//#menuMap th{
//  width: 30%;
//  vertical-align: top;
//  padding-right: 20px;
//  box-sizing:content-box;
//}
//.couponDetail{
//  padding: 20px 10px;
//  background: #eee;
//  margin-bottom: 10px;
//}
//.coupon_name{
//  font-size: 1.2em;
//  margin-bottom: 20px;
//}

input[type="text"],input[type="search"],input[type="file"],input[type="email"],button, textarea,select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
/* .sign_up_form input[type="radio"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
} */
input[type="search"],button[value="eyecatchButton"]{
  background: none;
}
input[type="file"]{
  opacity: 0;
}
input,textarea{
  background-color: #eee;
}
input[type="checkbox"]{
  height: auto;
}



@font-face {
  font-family: 'SourceHanSerif';
  src: font-url("SourceHanSans-Regular.otf");
}
@font-face {
  font-family: 'SourceHanSerifJP';
  src: font-url("SourceHanSansJP-Regular.otf");
}
html{
  background-color: #dddddd;
}
.mobile{
  //max-width: 370px;
  min-height: 100vh;

  //padding: 50px 0;
  box-sizing: border-box;
  margin: auto;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  font-family:'SourceHanSerif','M PLUS 1p','SourceHanSerifJP','Source Sans Pro','meiryo',arial, sans-serif;
}
.desktop{
  display: none;
}
@media screen and (min-width: 500px) {
  .mobile{
    display: none;
  }
  .desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    text-align: center;
    font-family: 'Lobster', cursive;
    //font-family: 'Monoton', cursive;
    //font-family: 'Fugaz One', cursive;
  }
  .desktop h1{
    font-size: 100px;
    color: #FAD403;
    font-weight: bold;
    margin-bottom: 80px;
  }
  .desktop p{
    line-height: 25px;
    letter-spacing: 2px;
  }

}
a{
  text-decoration: none;
  color: inherit;
}
.clearfix{
  display: block;
  content: "";
  clear: both;
}
.section{
  //width: 95%;
  padding-bottom: 80px;
  margin: auto;
}
.section:first-of-type{
  padding-top: 60px
}

.secTitle{
  font-size: 1.1em;
  border-left: 5px solid #FAD403;
  padding-left: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.secTitle span,
.secTitle a{
  display: inline-block;
  font-size: 10px;
  margin: auto 0px;
}
@media screen and (min-width:600px) {
  body{
    max-width:none;
    font-size: 18px;
  }
}
/* header */
.header{
  height: 50px;
  width: 100%;
  //max-width: 370px;
  padding: 0 2.5%;
  background-color: #FAD403;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  z-index: 99;
}
.headerLogo{
  height: 40px;
  width: 100px;
  background: image-url('date.png');
  background-size: contain;
  background-position: center;
}
.headerNav{
  display: flex;
  align-items: center;
}
.headerBtn{
  display: inline-block;
  padding: 5px;
  font-size: 0.8em;
  /* background-color: #fff; */
  color: white;
  /* margin-left: 5px; */
}
@media screen and (min-width:600px) {
  .header{
    max-width: none;
  }
}
/* ハンバーガー */
#navToggle{
  width: 30px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}
#navToggle span{
  width: 100%;
  display: block;
  color: #fff;
  border-bottom: 3px solid;
  position: absolute;
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
}
#navToggle span:nth-child(1){top:0;}
#navToggle span:nth-child(2){top:11px;}
#navToggle span:nth-child(3){top:22px;}
/*クリックした時のハンバーガーメニュー*/
.openNav #navToggle span:nth-child(1){
  transform: rotate(-45deg);
  top: 11px;
}
.openNav #navToggle span:nth-child(2),
.openNav #navToggle span:nth-child(3){
  top: 11px;
  transform: rotate(45deg);
}
.openNav .side{
  transition-duration: 0.3s;
  transform: translateX(-230px);
}
/* aside */
aside{
}
.side{
  width: 230px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -230px;
  box-sizing: border-box;
  z-index: 99;
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
  margin-top: 50px;
  /* background-color:#252525; */
  /* background-color:#621708; */
  background-color:#AD343E;
  /*   background-color:#E0E0CE;
   */}
.sideImg{
  width: 120px;
  height: 42px;
  margin: 30px auto;
  background: image-url('date_logo.png')no-repeat;
  background-size: cover;
  background-position: center;
}
.sideNav{
  /* padding-left: 15px; */
  padding: 20px 0;
}
.sideNav li{
  /* line-height: 40px; */
  padding:15px 0;
  color:white;
  width:90%;
  margin:0 auto;
  border-bottom:1px solid;
}

.sideNav li i{
  margin-right:5px;
}

/** top **/

/* eyecatch */
.eyecatch{
  width: 100%;
  height: 300px;
  background: image-url('recom3.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eyecatchInner{
  width: 95%;
}

.eyecatchImg{
  height: 100px;
  width: 70%;
  margin: 20px auto;
  background: image-url("0_yen.png")no-repeat;
  background-size:contain;
  background-position: center;
}
.eyecatchForm{
  width: 100%;
  display: flex;
}
.categorySearch input{
  border-left: 1px solid;
}

.keywordSearch,.categorySearch{
  width: 42%;
  background-color: #fff;

}
.eyecatchButton{
  width: 16%;
  background-color: #FAD403;
  color: #fff;
  font-weight: bold;
}
.eyecatchInner input[type="text"]{
  display: inline-block;
  height: 35px;
  width: 95%;
  padding-left: 10px;
  font-size: 14px;
  background-color: #FFF;
}
input:focus::placeholder {
  color: transparent;
}
.eyecatchInner input[type="submit"]{
  height: 35px;
  width: 100%;
  color: #fff;
  background-color: rgba(255,255,255,0);
  font-weight: bold;
  font-size: 14px;

}
/* top 登録 */
.registaBtn,
.commentBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #FAD403;
  margin:0 auto;
  border-radius: 4px;
  position:relative;
  color:white;
}

.registaBtn p{
  border-bottom:1px dotted;
  padding-bottom:5px;
}



.registaBtn:first-child{
  margin-bottom: 10px;
}
/* .registaBtn i{
  position: absolute;
  right: 10px;
} */

/* カテゴリーループ */
.categoryList{
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.categoryList li{
  height: 30px;
  line-height: 30px;
  border-top: 1px solid;
}
.categoryListFirst:hover{
  cursor: pointer;
}
.categoryListFirst:first-child{
  border-top: 0;
}
.categoryListSecond{
  display: none;
  margin-left: 20px;
}

/* 店舗ループ */
.articleList{

}
.article{
  display: block;
  border: .5px solid;
}
.article:not(:last-of-type){
  margin-bottom: 20px;
}
.articleHeader{
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  height: 30px;
}
.articleHeader h3{
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.2em;
}
.articleHeader p{
  margin-left: 30px;
}
.articleContent{
  display: flex;
  justify-content: space-between;
}
.articleImg{
  width: 30%;
  height: 70px;

}
.articleText{
  width: 70%;
}
.articleEvaluation{
  padding:5px 10px;
  border-bottom: 1px solid;
  height: 60px;
}
.articleInline{
  display: flex;
}
.evaluationStar{
  display: inline-block;
  color: yellow;
  margin: 5px 0px;
}
.articleEvaText{
  margin-left: 10px;
  color: #000;
}
.restaurantAdress{
  margin-top: 10px;
}
.articleDescription{
  padding: 10px 10px;
}
.articleImgMore{
  margin: 5px 0;
  text-align: center;
}
.articleMore{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000AFF;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
/** single  **/
/* singleEyecatch */
.singleEyecatch{
  width: 100%;
  height: 262px;
  /* margin-top: 50px; */
  position: relative;
}
.singleEyecatchTitle{
  height: 40px;
  width: 90%;
  padding: 0 5%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0;
}
.singleEvaluation .evaluationStar{
  font-size: 0.9em;
}
/* singleIntro */
.singleIntroHeader{
  font-weight: bold;
  margin-bottom: 10px;
}
.singleIntroSentence{
  font-size: 0.8em;
  margin-bottom: 5px;
}
.introMore{
  font-size: 0.8em;
  color: #2500F4;
  float: right;
}
/* single0yen */
.couponButton{
  padding: 8px 50px;
  background-color: #FAD403;
  border-radius: 10px;
}
.freeTable{
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.freeTableBox{
  width: 14.3%;
  height: 100%;
  text-align: center;
  font-size: 0.7em;
  padding: 3px;
  box-sizing: border-box;
}
.freeTableBox:not(:last-child){
  border-right: 1px solid;
}
.times .end{
  display: block;
  text-align: right;
}

/* normalCoupon */
.couponPopup{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.couponImg{
  width: 25%;
  height: 80px;
}
.couponContent{
  width: 75%;
  border: 3px solid #FAD403;
  box-sizing: border-box;
}
.couponTitle{
  padding: 5px;
  height: 49px;
  box-sizing: border-box;
}
.couponLink{
  line-height: 25px;
  text-align: center;
  background-color: #FAD403;
}

/* singleNav */
.singleNav{
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  margin-bottom: 30px;
}
.singleNav li{
  width: 25%;
  line-height: 36px;
  font-size: 13px;
  text-align: center;
}
.singleNav li:not(:last-of-type){
  border-right: 1px solid #707070;
}
/* default */
.singleNav li:first-child{
  background-color: #FAD403;
  color: #fff;
}
/* singleMenu */
.singleMenu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menuChild{
  width: 45%;
  height: 170px;
  border-radius: 30px;
  background-color: #eeeeee;
  margin-bottom: 30px;
}
.menuText{
  height: 50px;
  padding: 0 10px;
  font-size: 0.7em;
}
.menuName{
  display: flex;
  justify-content: space-between;
}
.menuName h4{
  font-size: 0.8rem;
  font-weight: bold;
}
.menuMore{
  text-align: right;
  color:#2500F4;
}

/* comment */
.commentChild{
  padding:5px;
  box-sizing: border-box;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}
.commentChild:not(:last-child){
  margin-bottom: 30px;
}
.commentLeft{
  background-color: #eee;
  height: 100px;
  width: 28%;
}
.commentRight{
  width: 70%;
}
.commentSentence{
  font-size: 0.8em;
  margin-bottom: 5px;
}
.commentMore{
  float: right;
  font-size: 0.8em;
  color: #2500F4;
}
/* commentUp */
.secSubTitle{
  margin-bottom: 20px;
}
.fourthEvaluation{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.evaChild{
  width: 49%;
}
.starTitle{
  margin: 10px 0px;
}
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  color: gray;
  cursor: pointer;
  font-size: 30px;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}
#commentUp textarea{
  width:100%;
  background-color: #eee;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

/* popup */
.mfp-iframe-scaler{
  padding-top: 0px;
  height: auto;
  overflow: visible;
}

.mfp-close-btn-in .mfp-close{
  color: #fff;
  font-size: 40px;
}
.mfp-content {
  position:static;
}
.pop_0yen{
  width: 80%;
  margin: 0 auto;
  background: #FAD403;
  border: 6px solid #eeeeee;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 60px;
}
.popUpName{
  font-size: 30px;
  margin: 30px 0 50px;
}
.popUpContent{
  font-size: 35px;
  margin-bottom: 70px;
}
.popUpLink{
  display: inline-block;
  padding: 20px 10px;
  border:2px solid;
}
.popUpDetail{
  width: 80%;
  margin: 30px auto;
}
.mfp-iframe-scaler button{
  display: block;
  margin: auto;
  color: #fff;
  background-color: #FAD403;
}
.popUpPassward{
  display: block;
  width: 70%;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  margin: 0 auto 30px;
}
/*  */
.pop_product{
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;

}
.pop_product_img{
  width: 100%;
  height: 300px;
}
.pop_product_text{
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  color: #fff;
}
.pop_product_name{
  font-size: 1.5em;
  font-weight: bold;
}
.pop_product_price{
  margin: 20px 0 5px;
}
/* single */
/* store_dashboard */
#store_dashboard input[type="text"],
#store_dashboard textarea{
  background-color: #eee;
  border: 1px solid #707070;
  padding: 5px 10px;
  margin-bottom: 20px ;
  box-sizing: border-box;
}
#store_dashboard input{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.main{
  padding-top: 50px;
  width: 90%;
  margin: auto;
}
.sdd_section{
  padding-top: 50px;
  margin-top: -50px;
  margin-bottom: 50px;
}
@media screen and (min-width:600px) {
  #store_dashboard #navToggle{
    display: none;
  }
  #store_dashboard .sdd_container{
    width: 97.5%;
    display: flex;
    justify-content: space-between;
  }
  #store_dashboard .main{
    width: 70%;
  }
  #store_dashboard aside{
    position: static;
    width: 30%;
  }
  #store_dashboard .side{
    position: static;
    font-size: 20px;
    width: 80%;
  }
  #store_dashboard .sideImg{
    display: none;
  }
  #store_dashboard .sideNav{
    padding-top: 50px;
    padding-left: 10%;
    background-color: #eee;
    width: 80%;
  }
  #store_dashboard .sideNav li{
    background-color: #eee;
  }
}
.borderB{
  border-bottom: 2px solid #FAD403;
}
.ssd_logout{
  display: inline-block;
  padding: 10px 20px;
  float: right;
  background-color: #eee;
}
.sdd_list_item{
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
  /* border: 1px solid #eee; */
  margin-bottom: 20px;
}
.listName{
  width: 30%;
  background-color: #eee;
  padding-left: 15px;
  margin-bottom: 10px;
}
.listContent{
  padding: 0 15px;
}
.listContentInput{
  width: 100%;
  padding: 4px 15px;
  box-sizing: border-box;
  margin: 10px 0;
}
@media screen and (min-width:600px){
  .sdd_list_item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    //font-size:
  }
  .listName{
    margin-bottom: 0px;
    line-height: 50px;
  }
  .listContent{
    width: 65%;
    line-height: 50px;
  }
}
/* store_keyword */
.hash_input{
  display: flex;
  justify-content: space-between;
}
#store_dashboard form p{
  margin-bottom: 10px;

}

#store_keyword input{
  width: 65%;
}
#store_description textarea{
  display: block;
  width: 100%;
}
.store_keyword_form button{
  display: inline-block;
  width: 30%;
  height: 40px;
  background: #eee;
}
.hash_regist{
  display: flex;
  flex-wrap: wrap;
}
.hash_item{
  display: inline-block;
  background-color: #FAD403;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  margin-right: 5px;
}
.hash_name{
  display: inline;
}
@media screen and (min-width:600px) {
  #store_keyword input{
    width: 80%;
  }
  .store_keyword_form button{
    display: inline-block;
    width: 15%;
    height: 40px;
    background: #eee;
  }

}

/* store_img */
.img_title{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #707070;
}
.main_visial,
.input_img{
  background-color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
}
.img_food_loop{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img_input{
  position: relative;
}
.img_import{
  position: absolute;
}
#food_button,
#main_button{
  width: 100%;
  height: 100%;
}
.main_visial{
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
.input_img{
  width: 48%;
  height:120px;
  background-color: #eeeeee;
  margin-bottom: 10px;
}
.img_button{
  font-size: 0.7em;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 15px;
}
@media screen and (min-width:600px) {
  .main_visial{
    height: 400px;
  }
  .input_img{
    width: 22%;
  }
}
/* クーポン */
#store_coupon .input_img{
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
.coupon_input,
.coupon_list{
  margin-bottom: 50px;
}
/* .coupon_input,
.coupon_list{
	display: flex;
	justify-content: space-between;
}
#store_coupon .input_img{
	width: 35%;
}
.coupon_text{
	width: 63%;
}
*/
.coupon_p{
  margin-bottom: 5px;
}
@media screen and (min-width:600px) {
  .coupon_input,
  .coupon_list{
    display: flex;
    justify-content: space-between;
  }
  #store_coupon .input_img{
    width: 30%;
  }
  #store_coupon .coupon_text{
    width: 65%;
  }
}
/* sign */
.sign_container,
.page_container{
  width: 90%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
.sign_img{
  margin-bottom: 50px ;
}
.sign_container form{
  margin-bottom: 30px;
}
.sign_container h2,
.page_container h2{
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
.sign_container p{
  margin-bottom: 5px;
}
//.sign_content P{
//  text-align: left;
//}
.sign_container_input{
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.sign_button{
  width: 120px;
  height: 35px;
  font-size: 16px;
  background-color: #FAD403;
}
.planSelect{
  margin-bottom: 30px;
}
.planSelect label{
  display: block;
  text-align: left;
  margin-bottom: 10px;
}
.planSelect input{
  margin-right: 10px;
}
/* footer */
#footer{
  width: 100%;
  height: 30px;
  padding: 0 5%;
  box-sizing: border-box;
  font-size: 0.5em;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
.footerLogo{
  height: 20px;
  width: 60px;
  background: image-url("date_logo.png")no-repeat;
  background-size: contain;
  background-position: center;
}

/* credit_up */
.credit_limit{
  display: flex;
  justify-content: space-between;
}
.credit_limit_child{
  width: 48%;
  margin-bottom: 20px;
}
.credit_limit_child select{
  width: 100%;
  background-color: #eeeeee;
  padding: 10px;
}
/* confirm */
.sign_container table{
  margin-bottom: 30px;
}
//.sign_content tr{
//  line-height: 30px;
//}
//.sign_content th{
//  width: 40%;
//}
//.sign_content td{
//  width: 50%;
//  text-align: left;
//}
.confirm_link{
  display: block;
  margin-bottom: 10px;
  color: #0082F3;
}
.confirm_agree{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.confirm_agree label{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.confirm_agree input[type="checkbox"]{
  height: auto;
  width: auto;
  margin-bottom: 5px;
  margin-right: 10px;
}
.completion .sign_button{
  height: auto;
  display: inline-block;
  padding: 10px 20px;
}
.completion-p{
  margin: 100px auto 50px;
}

/* SINGLE */
.page_section{
  text-align: left;
}
.page_container .secTitle{
  font-size: 1.2em;
  margin-top: 20px;
}
.page_section p,
.page_section ul{
  margin-left: 10px;
  margin-bottom: 20px;
}
/* user-page */
.user_info{
  margin: 0 auto 30px;
  padding-top: 50px;
  text-align: center;
}
.user_info .input_img{
  margin: 0 auto 50px;
}
.user_info .img_button{
  padding: 0;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius:50%;
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #707070;
}
.user_info table{
  width: 100%;
}
.user_info tr{
  border-bottom: 1px solid;
  line-height: 40px;
}
.user_info tr:first-child{
  border-top: 1px solid;
}
.user_info th{
  padding-left: 20px;
}
.delete{
  margin-top: 30px;
  font-size: 0.7em;
  float: right;
}

.area section{
  display: none;
  transition: 0.8s;
}
.area section.show{
  display: block;
  transition: 0.8s;
}
.area .section:first-of-type{
  padding-top: 0px;
}
#menuMap table{
  width: 90%;
  margin: 30px auto;
}
#menuMap tr{
  line-height: 20px;
  border-top: 1px solid;
}
#menuMap tr:last-child{
  border-bottom: 1px solid;
}
#menuMap td,
#menuMap th{
  padding: 10px 0;
}
#menuMap th{
  width: 30%;
  vertical-align: top;
  padding-right: 20px;
  box-sizing:content-box;
}
.couponDetail{
  padding: 20px 10px;
  background: #eee;
  margin-bottom: 10px;
}
.coupon_name{
  font-size: 1.2em;
  margin-bottom: 20px;
}

#more_link{
  color: #0033cc;
}

.more_link{
  text-align:right;
  margin-top:10px;
}



.my-gray {color: gray}

.my-yellow {color: #fff201}



//_restaurant_list

@charset "UTF-8";


.restaurant_container{
  background: #E0E0CE;
  padding: 60px 0;
}


.restaurant{
  width: 90%;
  margin: 30px auto;
  /* padding: 15px; */
  background: white;
  /* border: 1px solid white; */
  /* box-shadow: 1px 1px 7px gray; */
  border-radius: 3px;
}

.restaurant_img{
  position: relative;
}

.restaurant_img img{
  border-radius: 3px;
  vertical-align: bottom;
}

.restaurant_detail{
  position: absolute;
  bottom: 0px;
  padding: 10px 5px;
  background: rgba(0,0,0,0.7);
  width: 100%;
  color:white;
  box-sizing:border-box;
}

.restaurant_category{
  font-size: 0.5em;
}

.restaurant_title{
  font-size: 1.2em;
}

.star{
  display: flex;
  color: yellow;
  font-size: .8em;
  margin-bottom: 8px;
}

.star i{
  margin-right: 2px;
}

.restaurant_description {
  padding: 15px 5px;
}

.restaurant_text{
  font-size: .8em;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dotted #E0E0CE;
  margin-bottom: 20px;
}

.restaurant_description p:not(:first-child) {
  font-size: .8em;
  margin-bottom: 5px;
}

.restaurant_description i{
  color: #C84C09;
}

.zero{
  font-weight: bold;
}

/* ログイン画面 */
.login_wrap{
  padding: 60px 0;
}

.login_description{
  margin-bottom: 40px;
  font-size: .9em;
}

.login_title{
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.3em;
  font-weight: bold;
}

.sign_content{
  width: 95%;
  margin: 0 auto;
}

.sign_content input{
  width: 100%;
  height: 50px;
  border:solid 1px #ccc;
  border-radius: 3px;
  color: #ccc;
  font-size: .8em;
  padding-left: 10px;
  box-sizing: border-box;
}

.sign_content  button{
  width: 100%;
  height: 50px;
  border: none;
  background: #F0F0F0;
  color: gray;
  font-size: 1em;
  margin-top: 40px;
  border-radius: 3px;
}

.email_title,
.password_title{
  font-size: .9em;
  margin-bottom: 5px;
}

.email{
  margin-bottom: 20px;
}

.login_info{
  color: #941B0C;
  font-size: .7em;
  text-align: right;
  margin-top: 40px;
}

.new{
  margin-bottom: 5px;
}

input::placeholder {
  color: #ccc;
}

.restaurant_shosai{
  font-size: .7em;
  text-align: right;
  padding: 0 10px 10px 0;
}

.restaurant_shosai a{
  text-decoration: none;
  color: inherit;
}

/* 新規登録画面 */
.sign_wrap{
  padding: 60px 0;
}

.sign_description{
  margin-bottom: 40px;
  font-size: .9em;
}

.sign_title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.3em;
  font-weight: bold;
}

.signup_content{
  width: 95%;
  margin: 0 auto;
}

.signup_content input{
  width: 100%;
  height: 50px;
  border:solid 1px #ccc;
  border-radius: 3px;
  color: #ccc;
  font-size: .8em;
  padding-left: 10px;
  box-sizing: border-box;
}

.signup_content button{
  width: 100%;
  height: 50px;
  border: none;
  background: #F0F0F0;
  color: gray;
  font-size: 1em;
  margin-top: 40px;
  border-radius: 3px;
}

.signup_content form p:nth-child(odd){
  font-size: .9em;
  margin-bottom: 5px;
}

.signup_content form p:nth-child(even){
  margin-bottom: 20px;
}

/* ここからフッター */
.site_map{
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #BAA994;
}

.site_map li{
  display: inline-block;
  margin-right: 5px;
}

.site_map a{
  text-decoration: none;
  font-size: .6em;
  color: #BAA994;
}

.top_footer{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313131;
  color: white;
}

.top_footer small{
  font-size: .6em;
}

.restaurant_description button{
  width: 100%;
  height: 50px;
  border: none;
  background: #FAD403;
  color: white;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 3px;
}



/* ここからポップアップ */
.pop{
  width: 80%;
  padding: 30px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 10px gray;
  text-align: center;
  margin: 0 auto;
  background: white;
}

.pop i{
  color: #FAD403;
  font-size: 3em;
}

.pop p{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  color: gray;
}

.pop small{
  font-size: .6em;
  color: gray;
}

.pop_auth {
  width: 90%;
  height: 50px;
  border: none;
  background: #F0F0F0;
  color: gray;
  font-size: 1em;
  margin-top: 40px;
  border-radius: 3px;
}


