<!DOCTYPE html>
<html>
  <head>
    <title>Datestyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--    ここから追加-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="images/favicon1.png">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Lobster|Monoton" rel="stylesheet">
    <title>DateStyle</title>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<!--    ここまで追加-->
  </head>
  <body>
    <div class="mobile">
      <%= render "shared/header" %>



      <%= yield %>
      <%= render "shared/footer" %>
    </div>
    <div class="desktop">
      <div>
        <h1>Coming Soon !!</h1>
        <p>現在準備中</p>
        <p>近日中に公開予定です。</p>
      </div>
    </div>

  </body>
</html>



