<aside>
  <div class="side">
    <a href="top.html"><div class="sideImg"></div></a>
    <ul class="sideNav">
      <a href="#"><li>datestyleの使い方はこちら</li></a>
      <a href="#"><li>会員登録情報</li></a>
      <a href="#"><li>ヘルプ</li></a>
      <a href="#"><li>サービス利用規約</li></a>
      <a href="#"><li>個人情報保護方針</li></a>
      <a href="#"><li>特定商法に基づく表示</li></a>
      <a href="#"><li>著作権情報</li></a>
      <a href="#"><li>ご意見・ご要望</li></a>
      <a href="#"><li>著作権情報</li></a>
    </ul>
  </div>
</aside>
<div class="sign_container completion">
  <div class="sign_img">
    <img src="date_logo.png" alt="" width="180px" height="60px">
    <%= image_tag "date_logo.png", size: "180x60" %>
  </div>
  <div class="completion-p">
    <p>ご登録が完了しました。</p>
    <p>早速使ってみましょう。</p>
  </div>
  <a href="sign-in.html" class="sign_button">ログインする</a>
</div>