<div class="sign_container completion">
  <div class="sign_img">
    <%= image_tag "date_logo.png", size: "180x60", alt: "" %>
  </div>
  <div class="completion-p">
    <p>ご登録が完了しました。</p>

  </div>
  <%= link_to "さっそく使ってみる", root_url, class: "sign_button" %>
</div>


