 <div class="sign_container">
    <div class="sign_img">
      <img src="date_logo.png" alt="" width="180px" height="60px">
    </div>
    <h2>確認画面</h2>
    <table class="sign_content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>      <tr>
        <th><%= f.label :name, "名前" %></th>
        <td><%= f.hidden_field :name %><%= @user.name %></td>
      </tr>
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.hidden_field :email %><%= @user.email %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %></th>
        <td><%= f.hidden_field :password %><%= @user.password %></td>
        <%= f.hidden_field :accepted, value: true %>
      </tr>


    </table>
      <%= f.submit "登録する", class: "sign_button" %>

      <% end %>

  </div>
