<!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%#= devise_error_messages! %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

  <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<!--    <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>-->
  <%# end %>

<!--  <div class="field">-->
<!--    <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />-->
    <%#= f.password_field :password, autocomplete: "off" %>
    <%# if @minimum_password_length %>
<!--      <br />-->
<!--      <em><%#= @minimum_password_length %> characters minimum</em>-->
    <%# end %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />-->
    <%#= f.password_field :current_password, autocomplete: "off" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Update" %>
<!--  </div>-->
<%# end %>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<%#= link_to "Back", :back %>


<div class="sign_container">
  <div class="sign_img">
    <%= image_tag "date_logo.png", size: "180x60", alt: "" %>
  </div>
  <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "sign_up_form") do |f| %>
  <%= form_for(resource, as: resource_name, url: users_sign_up_confirm_path , class: "sign_up_form") do |f| %>
    <%= devise_error_messages! %>

    <div class="sign_content">
      <p>ユーザー名</p>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "sign_container_input" %>
      <p>メールアドレス</p>
      <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "sign_container_input" %>
      <!--      <p>紹介ID</p>-->
      <!--      <input class="sign_container_input" type="text" name="" value="">-->
      <!--      <div class="planSelect">-->
      <!--        <label for="#standard"><input type="radio" name="plan" value="plan" id="standard">通常プラン （月額1000円）</label>-->
      <!--        <label for="#special"><input type="radio" name="plan" value="plan" id="special">スペシャルプラン （月額3000円）</label>-->
      <!--      </div>-->

      <!--      <a href="terms-of-service"class="confirm_link">利用規約をみる</a>-->
      <!--      <a href="privacy" class="confirm_link">プライバシーポリシーを見る</a>-->


    </div>
    <%= f.submit "編集する", class: "sign_button" %>
  <% end %>
</div>


