


<!--<div class="sign_container">-->
<!--  <div class="sign_img">-->
    <%#= image_tag "date_logo.png", size: "180x60", alt: "" %>
<!--  </div>-->
<!--  <h2>新規登録</h2>-->
  <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "sign_up_form") do |f| %>
  <%#= form_for(resource, as: resource_name, url: users_sign_up_confirm_path , class: "sign_up_form") do |f| %>
  <%#= devise_error_messages! %>

<!--  <div class="sign_content">-->
<!--      <p>ユーザー名</p>-->
      <%#= f.text_field :name, autofocus: true, autocomplete: "name", class: "sign_container_input" %>
<!--      <p>メールアドレス</p>-->
      <%#= f.text_field :email, autofocus: true, autocomplete: "email", class: "sign_container_input" %>
<!--      <p>パスワード</p>-->
      <%#= f.password_field :password, autocomplete: "off", class: "sign_container_input" %>
<!--      <p>パスワード確認</p>-->
      <%#= f.password_field :password_confirmation, autocomplete: "off", class: "sign_container_input" %>
<!--      <p>紹介ID</p>-->
<!--      <input class="sign_container_input" type="text" name="" value="">-->
<!--      <div class="planSelect">-->
<!--        <label for="#standard"><input type="radio" name="plan" value="plan" id="standard">通常プラン （月額1000円）</label>-->
<!--        <label for="#special"><input type="radio" name="plan" value="plan" id="special">スペシャルプラン （月額3000円）</label>-->
<!--      </div>-->

<!--      <a href="terms-of-service"class="confirm_link">利用規約をみる</a>-->
<!--      <a href="privacy" class="confirm_link">プライバシーポリシーを見る</a>-->

<!--      <div class="confirm_agree">-->
<!--        <!--        <label><input type="checkbox" name="" value="利用規約に同意する"　required> <p>利用規約に同意する</p></label>-->
        <%#= f.label :accepted, "利用規約に同意する" %>
        <%#= f.check_box :accepted ,{},checked_value = true,unchecked_value = false %>
<!--      </div>-->

<!--  </div>-->
    <%#= f.submit class: "sign_button" %>
  <%# end %>
<!--</div>-->



<div class="sign_wrap">
  <div class="sign_title">
    <h1>新規登録</h1>
  </div>

  <div class="signup_content">
    <p class="sign_description">
      すでにdatestyleアプリで会員登録されておりましたら、
      同じメールアドレスとパスワードでログインできます。
    </p>

<!--    <form class="" action="index.html" method="post">-->
    <%= form_for(resource, as: resource_name, url: users_sign_up_confirm_path , class: "") do |f| %>
    <%= devise_error_messages! %>
  <p class="sign_user_name">ユーザー名:</p>
      <p class="user_name"><%= f.text_field :name %></p>

      <p class="sign_email_title">メールアドレス:</p>
      <p class="sign_email"><%= f.email_field :email, placeholder: "datestyle.jp" %></p>

      <p class="sign_password_title">パスワード:</p>
      <p class="sign_password"><%= f.password_field :password, placeholder: "・・・・・・" %></p>

      <p class="sign_password_title2">パスワード確認:</p>
      <p class="sign_password2"><%= f.password_field :password_confirmation, placeholder: "・・・・・・"  %></p>

      <%#= f.label :accepted, "利用規約に同意する" %>
      <%#= f.check_box :accepted ,{},checked_value = true,unchecked_value = false %>

      <%= f.hidden_field :accepted, value: true %>
      <%= button_tag "登録する" %>
      <% end %>



  </div>

</div>
