<main class="user_info ">
  <table>
    <tr>
      <th>ユーザー名</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= current_user.email %></td>
    </tr>
<!--    <tr>-->
<!--      <th>プラン</th>-->
<!--      <td>スペシャルプラン</td>-->
<!--    </tr>-->
  </table>

  <section id="registration" class="section">
    <a class="registaBtn" href="/users/edit"><p>ユーザー情報を変更する</p><i></i></a>
<!--    <a class="registaBtn" href="store-sign-in.html"><p>クレジット番号を変更する</p><i></i></a>-->
    <a href="#"class="delete">解約をご希望の方はこちら</a>
  </section>
</main>